openapi: 3.2.0
info:
  title: Live Objects REST API Guide Accounting - V1 API
  description: API description for Live Objects service
  contact:
    name: Live Objects Support
    url: https://liveobjects.orange-business.com/#/cms/support
  version: 2026.7.0
servers:
- url: https://liveobjects.orange-business.com
security:
- X-API-KEY: []
  OAuth2.0: []
tags:
- name: Accounting - V1
  description: get your accounting metrics
paths:
  /api/v1/accounting/monthly:
    get:
      tags:
      - Accounting - V1
      summary: Get monthly accounting metrics.
      description: "<p>Get accounting metrics for a given period (up to 18 months). The data is aggregated by months.</p>\n<p>The response contains 2 main sections : <strong>tenant</strong> and <strong>months</strong>.</p>\n<p>The <strong>tenant</strong> section gives useful information related to the customer. It returns the current values, whatever has been specified in startMonth and endMonth parameters :</p>\n<ul>\n        <li>id : Live Objects identifier</li>\n        <li>name : tenant name in Live Objects</li>\n        <li>detailed offer and options, including the display name</li>\n        <li>properties : custom fields</li>\n</ul>\n<p><br/>The <strong>months</strong> section provides connectors and service metrics for each month.</p>\n        <ul>\n          <li><strong>connectors</strong> section (LoRa, mqtt (device),\n        mqtt application, http, lwm2m, sms<strong>_[server phone number]</strong>,external):\n<ul>\n<li><strong>connectors</strong> section (LoRa, mqtt (device), mqtt application, http, lwm2m, sms<strong>_[server phone number]</strong>, external) :\n<ul>\n<li><strong>traffic</strong> metrics:\n<ul>\n    <li><strong>msg</strong>: number of messages (no unit)</li>\n    <li><strong>bytes</strong>: sum of the volume of all messages (unit: bytes)</li>\n    <li><strong>virtualMsg</strong>: number of messages split by a size of 5kB (no unit).<br />Example: 1 msg with a size of 7kB = 1 msg and 2 virtualMsg</li>\n    <li><strong>msgAckRequest</strong>: Deprecated. Always 0. LoRa specific. Number of acknowledgement requests sent for uplink messages.</li>\n</ul>\n</li>\n      <li><strong>inventory</strong> metrics:\n       <ul>\n          <li><strong>numberOfCommunicatingNodes</strong>: this counter is available by connector: LoRa, mqtt, sms_[server phone number] or external.\n              It is a unique count of devices that send at least one uplink message to the platform (except for mqtt, see below).\n              More precisely, by connector:\n              <ul>\n                  <li>LoRa: distinct devEUIs sending an uplink</li>\n                  <li>mqtt: distinct clientIds that have been connected at least one time</li>\n                  <li>external: distinct nodeIds behind an external connector that have been declared online or have published a dataMessage</li>\n                  <li>sms: distinct MSISDNs sending a message</li>\n              </ul>\n          </li>\n          <li><strong>numberOfActivatedNodes</strong>: LoRa specific: count of unique devices allowed to communicate and paired to the network. Corresponding LoRa status : ACTIVATED or INITIALIZED.</li>\n          <li><strong>numberOfActivatedLocationNodes</strong>: LoRa specific: count of unique Activated devices that had location lora option for the month.</li>\n          <li><strong>numberOfActivatedAckUlNodes</strong>: LoRa specific: count of unique Activated devices that had AckUL lora option for the month.\n         </ul>\n      </ul>\n     </li>\n<li><strong>service</strong> section:\n    <ul>\n        <li><strong>deviceManagement</strong></li>\n        <ul><li><strong>numberOfSuccessfulDownloads</strong>: count of all firmware downloads in success</li></ul>\n        <li><strong>storage</strong></li>\n        <ul><li><strong>storedDataMessagesInMB</strong>: the total size of messages stored in database.\n        This size does not include technical data (for ex. Index).\n        Values in MB are rounded up.\n        The value differs from the sum of “IN” bytes sent to the platform because it includes data coming from enrichment/decoding/event processing features.\n        This information is available from June 2019.</li></ul>\n        <li><strong>twin</strong></li>\n        <ul><li><strong>traffic virtualMsg In</strong>: number of incoming virtual messages generated by the twin service (amplification factor)</li></ul>\n      </ul>\n  </li>\n<li><strong>devices</strong> section:\n     <ul><li><strong>numberOfRegisteredDevices</strong>: max number of registered devices during the month. </li></ul>\n </li>\n</ul>\n        <p><span style=\"text-decoration: underline;\">Additional info</span> :</p>\n        <p>Traffic is split by connector type (mqtt, mqtt application, sms_[server phone number], LoRa, http, lwm2m, external) and by directions (in/out).</p>\n         <ul>\n             <li><strong>In</strong>: means incoming traffic (i.e. from \"outside\" into Live Objects) (mostly from objects) also called <strong>Uplink</strong>.</li>\n             <li><strong>Out</strong>: any outgoing message (i.e. from Live Objects to \"outside\") except protocol messages (MQTT CONNACK, SUBACK … ) and messages consumed by applications on top of Live Objects (subscribe in MQTT application mode).<br /><br /></li>\n          </ul>\n          <p><strong>http specific:</strong></p>\n          <ul>\n             <li>IN traffic: sum (POST /api/v0/data/bulk &amp; POST /api/v0/data/streams/{streamId})</li>\n          </ul>\n          <p><strong>mqtt specific:</strong></p>\n          <ul>\n             <li>IN & OUT traffic: after may 2020 : the mqtt section contains only traffic in device mode. Mqtt application mode is computed only for incoming traffic (IN).</li>\n          </ul>\n<br/><br/>No specific role on API key required."
      operationId: getMonthlyStatistics
      parameters:
      - name: startMonth
        in: query
        description: the requested start month as yyyy-MM. If missing, the current month is used. e.g. '2026-01'.
        required: false
        schema:
          type: string
      - name: endMonth
        in: query
        description: the requested end month as yyyy-MM. If missing, the current month is used. e.g. '2026-01'.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantMonthsMetrics'
  /api/v1/accounting/daily:
    get:
      tags:
      - Accounting - V1
      summary: Get daily accounting metrics (Beta).
      description: "<p>Get accounting metrics for a given period (from one day to 2 months) over the past 18 months. The data is aggregated by days.</p><p>The response contains 2 main sections : <strong>tenant</strong> and <strong>days</strong>.</p><p>The <strong>tenant</strong> section gives useful information related to the customer. It returns the current values, whatever has been specified in startDay and endDay parameters :</p><ul>\n        <li>id : Live Objects identifier</li>\n        <li>name : tenant name in Live Objects</li>\n        <li>detailed offer and options, including the display name</li>\n        <li>properties : custom fields</li>\n</ul>\n<p><br/>The <strong>days</strong> section provides connectors and service metrics for each day.</p>                            <ul>\n                                <li><strong>connectors</strong> section (LoRa, mqtt (device), mqtt application, http, lwm2m, sms<strong>_[server phone number]</strong>, external) :\n                                     <ul>\n                                       <li><strong>traffic</strong> metrics:\n                                         <ul>\n                                           <li><strong>msg</strong>: number of messages (no unit)</li>\n                                           <li><strong>bytes</strong>: sum of the volume of all messages (unit: bytes)</li>\n                                           <li><strong>virtualMsg</strong>: number of messages split by a size of 5kB (no unit).<br />Example: 1 msg with a size of 7kB = 1 msg and 2 virtualMsg</li>\n                                           <li><strong>msgAckRequest</strong>: Deprecated. Always 0. LoRa specific. Number of acknowledgement requests sent for uplink messages.</li>\n                                         </ul>\n                                       </li>\n                                       <li><strong>inventory</strong> metrics:\n                                           <ul>\n                                                  <li><strong>maxNumberOfEnabledNodes</strong>: LoRa specific: max number of simultaneously registered LoRa interfaces for the day. Corresponding LoRa status : all status except DEACTIVATED.</li>\n                                           </ul>\n                                        </li>\n                                     </ul>\n                                     <li><strong>service</strong> section:\n                                     <ul>\n                                         <li><strong>deviceManagement</strong></li>\n                                            <ul><li><strong>numberOfSuccessfulDownloads</strong>: count of all firmware downloads in success</li></ul>\n                                         <li><strong>storage</strong></li>\n                                            <ul>\n                                                   <li><strong>storedDataMessagesInMB</strong>: the total size of messages stored in database.\n                                           This size does not include technical data (for ex. Index).\n                                           Values in MB are rounded up.\n                                           The value differs from the sum of “IN” bytes sent to the platform because it includes data coming from enrichment/decoding/event processing features.\n                                           This information is available from June 2019.\n                                                  </li>\n                                           </ul>\n                                         <li><strong>twin</strong></li>\n                                           <ul><li><strong>traffic virtualMsg In</strong>: number of incoming virtual messages generated by the twin service (amplification factor)</li></ul>\n                                           </ul>\n                                         </li>\n                                         <li><strong>devices</strong> section:\n                                           <ul><li><strong>numberOfRegisteredDevices</strong>: number of registered devices. </li></ul>\n                                         </li>\n                                     </ul>\n                                           <p><span style=\"text-decoration: underline;\">Additional info</span> :</p>\n                                           <p>Traffic is split by connector type (mqtt, mqtt application, lwm2m, sms_[server phone number], LoRa, http, external) and by directions (in/out).</p>\n                                     <ul>\n                                         <li><strong>In</strong>: means incoming traffic (i.e. from \"outside\" into Live Objects) (mostly from objects) also called <strong>Uplink</strong>.</li>\n                                         <li><strong>Out</strong>: any outgoing message (i.e. from Live Objects to \"outside\") except protocol messages (MQTT CONNACK, SUBACK … ) and messages consumed by applications on top of Live Objects (subscribe in MQTT application mode).<br /><br /></li>\n                                     </ul>\n                                           <p><strong>http specific:</strong></p>\n                                     <ul>\n                                         <li>IN traffic: sum (POST /api/v0/data/bulk &amp; POST /api/v0/data/streams/{streamId})</li>\n                                     </ul>\n                                         <p><strong>mqtt specific:</strong></p>\n                                     <ul>\n                                         <li>IN & OUT traffic: after may 2020 : the mqtt section contains only traffic in device mode.</li>\n                                         <li>Mqtt application mode is computed only for incoming traffic (IN).</li>\n                                         <li>The <strong>external</strong> section contains the mqtt traffic and inventory for applications used as cloud gateways for devices.</li>\n                                      </ul>\n<ul>\n<li><strong>connectors</strong> section (LoRa, mqtt (device), mqtt application, http, lwm2m, sms<strong>_[server phone number]</strong>, external) :\n<ul>\n<li><strong>traffic</strong> metrics:\n<ul>\n    <li><strong>msg</strong>: number of messages (no unit)</li>\n    <li><strong>bytes</strong>: sum of the volume of all messages (unit: bytes)</li>\n    <li><strong>virtualMsg</strong>: number of messages split by a size of 5kB (no unit).<br />Example: 1 msg with a size of 7kB = 1 msg and 2 virtualMsg</li>\n    <li><strong>msgAckRequest</strong>: Deprecated. Always 0. LoRa specific. Number of acknowledgement requests sent for uplink messages.</li>\n</ul>\n</li>\n      <li><strong>inventory</strong> metrics:\n       <ul>\n          <li><strong>numberOfCommunicatingNodes</strong>: this counter is available by connector: LoRa, mqtt, sms_[server phone number] or external.\n              It is a unique count of devices that send at least one uplink message to the platform (except for mqtt, see below).\n              More precisely, by connector:\n              <ul>\n                  <li>LoRa: distinct devEUIs sending an uplink</li>\n                  <li>mqtt: distinct clientIds that have been connected at least one time</li>\n                  <li>external: distinct nodeIds behind an external connector that have been declared online or have published a dataMessage</li>\n                  <li>sms: distinct MSISDNs sending a message</li>\n              </ul>\n          </li>\n          <li><strong>numberOfActivatedNodes</strong>: LoRa specific: count of unique devices allowed to communicate and paired to the network. Corresponding LoRa status : ACTIVATED or INITIALIZED.</li>\n          <li><strong>numberOfActivatedLocationNodes</strong>: LoRa specific: count of unique Activated devices that had location lora option for the month.</li>\n          <li><strong>numberOfActivatedAckUlNodes</strong>: LoRa specific: count of unique Activated devices that had AckUL lora option for the month.\n         </ul>\n      </ul>\n     </li>\n<li><strong>service</strong> section:\n    <ul>\n        <li><strong>deviceManagement</strong></li>\n        <ul><li><strong>numberOfSuccessfulDownloads</strong>: count of all firmware downloads in success</li></ul>\n        <li><strong>storage</strong></li>\n        <ul><li><strong>storedDataMessagesInMB</strong>: the total size of messages stored in database.\n        This size does not include technical data (for ex. Index).\n        Values in MB are rounded up.\n        The value differs from the sum of “IN” bytes sent to the platform because it includes data coming from enrichment/decoding/event processing features.\n        This information is available from June 2019.</li></ul>\n        <li><strong>twin</strong></li>\n        <ul><li><strong>traffic virtualMsg In</strong>: number of incoming virtual messages generated by the twin service (amplification factor)</li></ul>\n      </ul>\n  </li>\n<li><strong>devices</strong> section:\n     <ul><li><strong>numberOfRegisteredDevices</strong>: max number of registered devices during the month. </li></ul>\n </li>\n</ul>\n        <p><span style=\"text-decoration: underline;\">Additional info</span> :</p>\n        <p>Traffic is split by connector type (mqtt, mqtt application, sms_[server phone number], LoRa, http, lwm2m, external) and by directions (in/out).</p>\n         <ul>\n             <li><strong>In</strong>: means incoming traffic (i.e. from \"outside\" into Live Objects) (mostly from objects) also called <strong>Uplink</strong>.</li>\n             <li><strong>Out</strong>: any outgoing message (i.e. from Live Objects to \"outside\") except protocol messages (MQTT CONNACK, SUBACK … ) and messages consumed by applications on top of Live Objects (subscribe in MQTT application mode).<br /><br /></li>\n          </ul>\n          <p><strong>http specific:</strong></p>\n          <ul>\n             <li>IN traffic: sum (POST /api/v0/data/bulk &amp; POST /api/v0/data/streams/{streamId})</li>\n          </ul>\n          <p><strong>mqtt specific:</strong></p>\n          <ul>\n             <li>IN & OUT traffic: after may 2020 : the mqtt section contains only traffic in device mode. Mqtt application mode is computed only for incoming traffic (IN).</li>\n          </ul>\n<br/><br/>No specific role on API key required."
      operationId: getDailyStatistics
      parameters:
      - name: startDay
        in: query
        description: the requested start day as yyyy-MM-dd. If missing, the current day is used. e.g. '2026-01-19'.
        required: false
        schema:
          type: string
      - name: endDay
        in: query
        description: the requested end day as yyyy-MM-dd. If missing, the current day is used. e.g. '2026-01-19'.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantDaysMetrics'
components:
  schemas:
    MeterGroup:
      type: object
      additionalProperties:
        type: integer
        format: int64
      properties:
        empty:
          type: boolean
    Inventory:
      type: object
      additionalProperties:
        type: integer
        format: int64
      properties:
        empty:
          type: boolean
    TenantDaysMetrics:
      type: object
      properties:
        tenant:
          $ref: '#/components/schemas/TenantExternalView'
        days:
          type: array
          description: Statistics per day
          example:
          - day: '2022-04-01'
            connectors:
              lora:
                traffic:
                  in:
                    msg: 54395
                    bytes: 572827
                    msgAckRequest: 1
                  out:
                    msg: 100
                    bytes: 2858
                inventory:
                  maxNumberOfEnabledNodes: 30
              mqtt:
                traffic:
                  in:
                    msg: 45000
                    virtualMsg: 45000
                    bytes: 1120000
                  out:
                    msg: 35220
                    virtualMsg: 35220
                    bytes: 18373042
              mqttApplication:
                traffic:
                  in:
                    msg: 4500
                    virtualMsg: 4500
                    bytes: 112000
              external:
                traffic:
                  in:
                    msg: 2
                    virtualMsg: 2
                    bytes: 20
                  out:
                    msg: 1
                    virtualMsg: 1
                    bytes: 100
              http:
                traffic:
                  in:
                    msg: 359
                    virtualMsg: 359
                    bytes: 167457
              sms_20259:
                traffic:
                  in:
                    msg: 10
                    virtualMsg: 10
                    bytes: 1100
                  out:
                    msg: 1
                    virtualMsg: 1
                    bytes: 10
            services:
              deviceManagement:
                numberOfSuccessfulDownloads: 123
              storage:
                storedDataMessagesInMB: 456
              twin:
                traffic:
                  in:
                    virtualMsg: 30647
            devices:
              numberOfRegisteredDevices: 70
          - day: '2022-04-02'
            connectors:
              lora:
                traffic:
                  in:
                    msg: 42716
                    bytes: 493582
                  out:
                    msg: 77
                    bytes: 1474
                inventory:
                  maxNumberOfEnabledNodes: 29
              mqtt:
                traffic:
                  out:
                    msg: 43229
                    virtualMsg: 43229
                    bytes: 23198520
              mqttApplication:
                traffic:
                  in:
                    msg: 4322
                    virtualMsg: 4322
                    bytes: 2319852
              http:
                traffic:
                  in:
                    msg: 1085
                    virtualMsg: 1085
                    bytes: 545462
              lwm2m:
                traffic:
                  in:
                    msg: 1994
                    virtualMsg: 1994
                    bytes: 607042
                  out:
                    msg: 19
                    virtualMsg: 19
                    bytes: 5
            services:
              deviceManagement:
                numberOfSuccessfulDownloads: 100
              storage:
                storedDataMessagesInMB: 567
              twin:
                traffic:
                  in:
                    virtualMsg: 2658
            devices:
              numberOfRegisteredDevices: 70
          items:
            $ref: '#/components/schemas/DayMetrics'
    BssRuleInfo:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
    MonthMetrics:
      type: object
      properties:
        month:
          type: string
          description: month in "YYYY-MM" format.
          example: 2019-01
        connectors:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ConnectorAccounting'
          description: connector (lora, mqtt, http) statistics
        services:
          $ref: '#/components/schemas/ServiceMetrics'
          description: service statistics
        devices:
          $ref: '#/components/schemas/Inventory'
          description: device statistics
    ConnectorAccounting:
      type: object
      properties:
        traffic:
          $ref: '#/components/schemas/Traffic'
        inventory:
          type: object
          additionalProperties:
            type: integer
            format: int64
          properties:
            empty:
              type: boolean
    TenantMonthsMetrics:
      type: object
      properties:
        tenant:
          $ref: '#/components/schemas/TenantExternalView'
        months:
          type: array
          description: Statistics per month
          example:
          - month: 2022-01
            connectors:
              lora:
                traffic:
                  in:
                    msg: 54395
                    bytes: 572827
                    msgAckRequest: 1
                  out:
                    msg: 100
                    bytes: 2858
                inventory:
                  numberOfCommunicatingNodes: 36
                  numberOfActivatedNodes: 65
                  numberOfActivatedLocationNodes: 30
                  numberOfActivatedAckUlNodes: 5
              mqtt:
                traffic:
                  in:
                    msg: 45000
                    virtualMsg: 45000
                    bytes: 1120000
                  out:
                    msg: 35220
                    virtualMsg: 35220
                    bytes: 18373042
                inventory:
                  numberOfCommunicatingNodes: 2
              mqttApplication:
                traffic:
                  in:
                    msg: 4500
                    virtualMsg: 4500
                    bytes: 112000
              external:
                traffic:
                  in:
                    msg: 2
                    virtualMsg: 2
                    bytes: 20
                  out:
                    msg: 1
                    virtualMsg: 1
                    bytes: 100
                inventory:
                  numberOfCommunicatingNodes: 1
              http:
                traffic:
                  in:
                    msg: 359
                    virtualMsg: 359
                    bytes: 167457
              sms_20259:
                traffic:
                  in:
                    msg: 10
                    virtualMsg: 10
                    bytes: 1100
                  out:
                    msg: 1
                    virtualMsg: 1
                    bytes: 10
                inventory:
                  numberOfCommunicatingNodes: 1
              lwm2m:
                traffic:
                  in:
                    msg: 55425
                    virtualMsg: 55425
                    bytes: 2155073
                  out:
                    msg: 2488
                    virtualMsg: 2777
                    bytes: 1490326
                inventory:
                  numberOfCommunicatingNodes: 4
            services:
              deviceManagement:
                numberOfSuccessfulDownloads: 123
              storage:
                storedDataMessagesInMB: 456
              twin:
                traffic:
                  in:
                    virtualMsg: 30647
            devices:
              numberOfRegisteredDevices: 70
          - month: 2022-02
            connectors:
              lora:
                traffic:
                  in:
                    msg: 42716
                    bytes: 493582
                    msgAckRequest: 2
                  out:
                    msg: 77
                    bytes: 1474
                inventory:
                  numberOfCommunicatingNodes: 39
                  numberOfActivatedNodes: 71
                  numberOfActivatedLocationNodes: 30
                  numberOfActivatedAckUlNodes: 5
              mqtt:
                traffic:
                  out:
                    msg: 43229
                    virtualMsg: 43229
                    bytes: 23198520
              mqttApplication:
                traffic:
                  in:
                    msg: 4322
                    virtualMsg: 4322
                    bytes: 2319852
              http:
                traffic:
                  in:
                    msg: 1085
                    virtualMsg: 1085
                    bytes: 545462
            services:
              deviceManagement:
                numberOfSuccessfulDownloads: 100
              storage:
                storedDataMessagesInMB: 567
              twin:
                traffic:
                  in:
                    virtualMsg: 2658
            devices:
              numberOfRegisteredDevices: 70
          items:
            $ref: '#/components/schemas/MonthMetrics'
    OfferAndOptions:
      type: object
      properties:
        offer:
          $ref: '#/components/schemas/BssRuleInfo'
          description: name
          example: Discover_OFR_v2.2
        options:
          type: array
          description: displayName
          example: Discover
          items:
            $ref: '#/components/schemas/BssRuleInfo'
    TenantExternalView:
      type: object
      properties:
        id:
          type: string
          description: tenant Id
          example: 57ed0a98266e260a12345
        name:
          type: string
          description: tenant name
          example: Tenant-test
        offerAndOptions:
          $ref: '#/components/schemas/OfferAndOptions'
          description: detailed list of offer and options
          example:
            offer:
              name: Discover_OFR_v2.2
              displayName: Discover
            options:
            - name: option_name
              displayName: option_display_name
        properties:
          type: object
          additionalProperties:
            type: string
          description: tenant properties
          example:
            diseId: '12345678'
    DayMetrics:
      type: object
      properties:
        day:
          type: string
          description: day in "YYYY-MM-DD" format.
          example: '2020-04-01'
        connectors:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ConnectorAccounting'
          description: connector (lora, mqtt, http) statistics
        services:
          $ref: '#/components/schemas/ServiceMetrics'
          description: service statistics
        devices:
          $ref: '#/components/schemas/Inventory'
          description: device statistics
    Decoder:
      type: object
      properties:
        traffic:
          $ref: '#/components/schemas/Traffic'
    Traffic:
      type: object
      properties:
        in:
          type: object
          additionalProperties:
            type: integer
            format: int64
          properties:
            empty:
              type: boolean
        out:
          $ref: '#/components/schemas/MeterGroup'
    Twin:
      type: object
      properties:
        traffic:
          $ref: '#/components/schemas/Traffic'
    ServiceMetrics:
      type: object
      properties:
        deviceManagement:
          type: object
          additionalProperties:
            type: integer
            format: int64
          properties:
            empty:
              type: boolean
        storage:
          type: object
          additionalProperties:
            type: integer
            format: int64
          properties:
            empty:
              type: boolean
        twin:
          $ref: '#/components/schemas/Twin'
        decoder:
          $ref: '#/components/schemas/Decoder'
  securitySchemes:
    X-API-KEY:
      type: apiKey
      name: X-API-KEY
      in: header
    OAuth2.0:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://liveobjects.orange-business.com/api/v1/oauth2/authorize
          tokenUrl: https://liveobjects.orange-business.com/api/v1/oauth2/token
          refreshUrl: https://liveobjects.orange-business.com/api/v1/oauth2/token
          scopes:
            API_KEY_R: Read parameters and status of an API key.
            API_KEY_W: Create, modify, disable an API key.
            BOOTSTRAP_R: Read parameters and status of the LwM2M Bootstrap configurations and entries.
            BOOTSTRAP_W: Create ans modify LwM2M Bootstrap configurations and entries.
            BUS_CONFIG_R: Read config parameters of a FIFO queue.
            BUS_CONFIG_W: Create, modify a FIFO queue.
            BUS_R: Read data on the Live Objects bus. Minimum permission for the API key of an application collecting data on Live Objects in MQTT(s).
            BUS_W: Publish data on the Live Objects bus.
            CAMPAIGN_R: Read parameters and status of a massive deployment campaign on your Device Fleet.
            CAMPAIGN_W: Create, modify a campaign on your Device Fleet.
            CONNECTOR_ACCESS: Role to set on a external connector API key to allow only MQTT external connector mode
            DATA_PROCESSING_R: Read parameters and status of an event processing rule or a Data decoder.
            DATA_PROCESSING_W: Create, modify, disable an event processing rule or a Data decoder.
            DATA_R: Read the data collected by the Store Service or search into this data using the Search Service.
            DATA_W: Insert a data record to the Store Service. Minimum permission required for the API key of a device pushing data to Live Objects in HTTPS.
            DEVICE_ACCESS: Role to set on a Device API key to allow only MQTT Device mode
            DEVICE_R: Read parameters and status of a Device management.
            DEVICE_W: Create, modify, disable a Device management, send command, modify config, update resource of a Device.
            LOGS_R: Read the logs collected by the Audit Log service. This right allows users to use the Audit Log service as debugging tool.
            SETTINGS_R: Read the tenant account custom settings.
            SETTINGS_W: Create, modify tenant account custom settings.
            USER_R: Read parameters and status of a user.
            USER_W: Create, modify, disable a user.
externalDocs:
  description: Live Objects Developer Guide
  url: https://liveobjects.orange-business.com/doc/html/lo_manual_v2.html
x-examples: ''
