openapi: 3.2.0
info:
  title: Live Objects REST API Guide Triggers and Actions - Test API
  description: API description for Live Objects service
  contact:
    name: Live Objects Support
    url: https://liveobjects.orange-business.com/#/cms/support
  version: 2026.7.0
servers:
- url: https://liveobjects.orange-business.com
security:
- X-API-KEY: []
  OAuth2.0: []
tags:
- name: Triggers and Actions - Test
  description: Test api for actions
paths:
  /api/v1/event2action/test/http-push:
    post:
      tags:
      - Triggers and Actions - Test
      summary: Post an http request for testing a webhook
      description: 'Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.'
      operationId: testHttpPushV1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HttpPushWebhookTest'
        required: true
      responses:
        '200':
          description: Http push test successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpPushTestResult'
  /api/v1/event2action/test/fifo:
    post:
      tags:
      - Triggers and Actions - Test
      summary: Post a FIFO message for testing purposes
      description: 'This API aims to be used only for testing purpose. Only few calls per minute are allowed. It directly publishes a message into a FIFO, without being processed by decoders, analyzed by event processing or stored into the data storage. The message must be a JSON object (not a Json primitive or array). The test message is sent with ''no retention'' : if there is no ongoing MQTT SUB on this FIFO (refer to MQTT ''application'' mode in the dev guide), the message will be discarded.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.'
      operationId: testFifoMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FifoTestRequest'
        required: true
      responses:
        '200':
          description: FIFO test completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FifoTestResult'
components:
  schemas:
    FifoTestRequest:
      type: object
      description: FIFO test message request
      properties:
        fifoName:
          type: string
          description: name of the fifo to publish in
        payload:
          description: Fifo message to send, must be not null and json Object serializable
      required:
      - fifoName
      - payload
    FifoTestResult:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates if the test message was successfully published
        errorMessage:
          type: string
          description: Details about the error if any
    HttpPushTestResult:
      type: object
      properties:
        success:
          type: boolean
        urlBlacklisted:
          type: boolean
        errorMessage:
          type: string
        httpResponseStatusCode:
          type: integer
          format: int32
        httpResponseBody:
          type: string
    HttpPushWebhookTest:
      type: object
      description: Http push request to be tested
      properties:
        webhookUrl:
          type: string
          description: The url of the target service webhook (only the ports 80, 443, 8080, 8443 and 9243 are allowed).
        headers:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: A map of header to be passed in the http POST headers
        requestBody:
          type: string
          description: The body of the http POST test request
        signingSecret:
          type: string
          description: The secret used to compute the HMAC signature of the HTTP push request. The signature is then added as a header to the request, allowing the receiving server to verify its authenticity and integrity.
          maxLength: 128
          minLength: 20
        requestTimeout:
          type: integer
          format: int64
          description: The maximum delay allowed to complete the http POST test request, in milliseconds
  securitySchemes:
    X-API-KEY:
      type: apiKey
      name: X-API-KEY
      in: header
    OAuth2.0:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://liveobjects.orange-business.com/api/v1/oauth2/authorize
          tokenUrl: https://liveobjects.orange-business.com/api/v1/oauth2/token
          refreshUrl: https://liveobjects.orange-business.com/api/v1/oauth2/token
          scopes:
            API_KEY_R: Read parameters and status of an API key.
            API_KEY_W: Create, modify, disable an API key.
            BOOTSTRAP_R: Read parameters and status of the LwM2M Bootstrap configurations and entries.
            BOOTSTRAP_W: Create ans modify LwM2M Bootstrap configurations and entries.
            BUS_CONFIG_R: Read config parameters of a FIFO queue.
            BUS_CONFIG_W: Create, modify a FIFO queue.
            BUS_R: Read data on the Live Objects bus. Minimum permission for the API key of an application collecting data on Live Objects in MQTT(s).
            BUS_W: Publish data on the Live Objects bus.
            CAMPAIGN_R: Read parameters and status of a massive deployment campaign on your Device Fleet.
            CAMPAIGN_W: Create, modify a campaign on your Device Fleet.
            CONNECTOR_ACCESS: Role to set on a external connector API key to allow only MQTT external connector mode
            DATA_PROCESSING_R: Read parameters and status of an event processing rule or a Data decoder.
            DATA_PROCESSING_W: Create, modify, disable an event processing rule or a Data decoder.
            DATA_R: Read the data collected by the Store Service or search into this data using the Search Service.
            DATA_W: Insert a data record to the Store Service. Minimum permission required for the API key of a device pushing data to Live Objects in HTTPS.
            DEVICE_ACCESS: Role to set on a Device API key to allow only MQTT Device mode
            DEVICE_R: Read parameters and status of a Device management.
            DEVICE_W: Create, modify, disable a Device management, send command, modify config, update resource of a Device.
            LOGS_R: Read the logs collected by the Audit Log service. This right allows users to use the Audit Log service as debugging tool.
            SETTINGS_R: Read the tenant account custom settings.
            SETTINGS_W: Create, modify tenant account custom settings.
            USER_R: Read parameters and status of a user.
            USER_W: Create, modify, disable a user.
externalDocs:
  description: Live Objects Developer Guide
  url: https://liveobjects.orange-business.com/doc/html/lo_manual_v2.html
x-examples: ''
