openapi: 3.2.0
info:
  title: Live Objects REST API Guide Audit Log API
  description: API description for Live Objects service
  contact:
    name: Live Objects Support
    url: https://liveobjects.orange-business.com/#/cms/support
  version: 2026.7.0
servers:
- url: https://liveobjects.orange-business.com
security:
- X-API-KEY: []
  OAuth2.0: []
tags:
- name: Audit Log
  description: Search through your AuditLog messages
paths:
  /api/v0/auditlog/messages:
    get:
      tags:
      - Audit Log
      summary: Query your AuditLogs
      description: 'Restricted to API keys with at least one of the following roles: LOGS_R.'
      operationId: searchAuditLog
      parameters:
      - name: from
        in: query
        description: Search for messages after this date. Use ISO-8601 normalization.
        required: false
        schema:
          type: string
        example: '2018-10-05T15:45:51Z'
      - name: to
        in: query
        description: Search for messages before this date. Use ISO-8601 normalization.
        required: false
        schema:
          type: string
        example: '2018-10-05T15:45:51Z'
      - name: offset
        in: query
        description: Offset from the first result you want to fetch. offset + limit should not exceed 10.000.
        required: false
        schema:
          type: string
          default: '0'
      - name: limit
        in: query
        description: Maximum amount of messages to return. limit should not exceed 1.000.
        required: false
        schema:
          type: string
          default: '100'
      - name: sort
        in: query
        description: Sort order, based on timestamp field of the AuditLog message.
        required: false
        schema:
          type: string
          default: desc
      - name: filters
        in: query
        description: 'Filter query based on field path and expected value to search for : {fiedlName}={value}. You can put several filters that way, they will all be treated with an AND operator. Common filters field names you can use : level, category, subcategory, type, source.deviceId, source.nodeId, description, detailedDescription. e.g. : level=error&source.deviceId=urn:lora:0E5EAB0ABCD00000'
        required: false
        schema:
          type: string
          example: level=error&source.deviceId=urn:lora:0E5EAB0ABCD00000
      - name: '@any'
        in: query
        description: List of values that should present in any of the Auditlog message fields. e.g. @any=quota&@any=daily&@any=notification.
        required: false
        schema:
          type: array
          items:
            type: string
        example: '@any=quota&@any=daily&@any=notification'
      responses:
        '200':
          description: list of AuditLogMessages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLogMessage'
components:
  schemas:
    Source:
      type: object
      properties:
        deviceId:
          type: string
        nodeId:
          type: string
        connector:
          type: string
        campaignId:
          type: string
        actionPolicyId:
          type: string
        pipelineId:
          type: string
        eventProcessingRuleId:
          type: string
        gatewayId:
          type: string
        encoding:
          type: string
    AuditLogMessage:
      type: object
      description: a log message that described a functional event
      properties:
        timestamp:
          type: string
          description: timestamp of the log message. ISO 8601 date time.
          example: '2016-08-24T10:32:52.598Z'
        level:
          type: string
          description: level of the log message
          enum:
          - info
          - error
        category:
          type: string
          description: category of the log message
          enum:
          - connectivity
          - data
          - device_management
          - notification
          example: connectivity
        subcategory:
          type: string
          description: subcategory of the log message.
          enum:
          - lora
          - mqtt
          - sms
          - lwm2m
          - http
          - azure
          - email
          - fifo
          - logs
          - pipeline
          - storage
          - event_processing
          - commands
          - firmware_upgrade
          - configuration
          - campaigns
          example: lora
        type:
          type: string
          description: specific type of the log message.
          enum:
          - http_push_result
          - azure_event_hubs_result
          - logs_info, mqtt_debug_logs
          - lora_network
          - lora_gateway
          - indexing_result
          - contact_message_result
          - data_pipeline_status
          - data_decoding_status
          - insufficient_quota
          - rate_limit_reached
          - twin_report
          - lwm2m_device_log
          - lwm2m_bootstrap_entry_log
          example: http_push_result
        source:
          $ref: '#/components/schemas/Source'
          description: source of the log message
        description:
          type: string
          description: high level description of the log message
        detailedDescription:
          type: string
          description: detailed description of log the message
        content:
          description: log message's specific content
        created:
          type: string
          description: date of storage of the log message. ISO 8601 date time.
          example: '2016-08-24T10:32:52.598Z'
      required:
      - category
      - created
      - description
      - level
      - subcategory
      - timestamp
      - type
  securitySchemes:
    X-API-KEY:
      type: apiKey
      name: X-API-KEY
      in: header
    OAuth2.0:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://liveobjects.orange-business.com/api/v1/oauth2/authorize
          tokenUrl: https://liveobjects.orange-business.com/api/v1/oauth2/token
          refreshUrl: https://liveobjects.orange-business.com/api/v1/oauth2/token
          scopes:
            API_KEY_R: Read parameters and status of an API key.
            API_KEY_W: Create, modify, disable an API key.
            BOOTSTRAP_R: Read parameters and status of the LwM2M Bootstrap configurations and entries.
            BOOTSTRAP_W: Create ans modify LwM2M Bootstrap configurations and entries.
            BUS_CONFIG_R: Read config parameters of a FIFO queue.
            BUS_CONFIG_W: Create, modify a FIFO queue.
            BUS_R: Read data on the Live Objects bus. Minimum permission for the API key of an application collecting data on Live Objects in MQTT(s).
            BUS_W: Publish data on the Live Objects bus.
            CAMPAIGN_R: Read parameters and status of a massive deployment campaign on your Device Fleet.
            CAMPAIGN_W: Create, modify a campaign on your Device Fleet.
            CONNECTOR_ACCESS: Role to set on a external connector API key to allow only MQTT external connector mode
            DATA_PROCESSING_R: Read parameters and status of an event processing rule or a Data decoder.
            DATA_PROCESSING_W: Create, modify, disable an event processing rule or a Data decoder.
            DATA_R: Read the data collected by the Store Service or search into this data using the Search Service.
            DATA_W: Insert a data record to the Store Service. Minimum permission required for the API key of a device pushing data to Live Objects in HTTPS.
            DEVICE_ACCESS: Role to set on a Device API key to allow only MQTT Device mode
            DEVICE_R: Read parameters and status of a Device management.
            DEVICE_W: Create, modify, disable a Device management, send command, modify config, update resource of a Device.
            LOGS_R: Read the logs collected by the Audit Log service. This right allows users to use the Audit Log service as debugging tool.
            SETTINGS_R: Read the tenant account custom settings.
            SETTINGS_W: Create, modify tenant account custom settings.
            USER_R: Read parameters and status of a user.
            USER_W: Create, modify, disable a user.
externalDocs:
  description: Live Objects Developer Guide
  url: https://liveobjects.orange-business.com/doc/html/lo_manual_v2.html
x-examples: ''
