openapi: 3.2.0
info:
  title: Live Objects REST API Guide User authentication management API
  description: API description for Live Objects service
  contact:
    name: Live Objects Support
    url: https://liveobjects.orange-business.com/#/cms/support
  version: 2026.7.0
servers:
- url: https://liveobjects.orange-business.com
security:
- X-API-KEY: []
  OAuth2.0: []
tags:
- name: User authentication management
  description: authentication management
paths:
  /api/v0/updateEmail:
    post:
      tags:
      - User authentication management
      summary: Update user's email
      description: Usage of this API will be reported in your access log under 'authentication' category.<br/><br/>No specific role on API key required.
      operationId: updateUserEmailWithToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmailValidationInfo'
        required: true
      responses:
        '200':
          description: OK
  /api/v0/logout:
    post:
      tags:
      - User authentication management
      summary: Log out of the current session
      description: No specific role on API key required.
      operationId: logout
      parameters:
      - name: cookie
        in: query
        description: if true, send the API key value in a secure cookie
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: No Content
  /api/v0/whoami:
    get:
      tags:
      - User authentication management
      summary: Get your tenant id
      description: No specific role on API key required.
      operationId: getTenantId
      responses:
        '200':
          description: The tenant id associated with the API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoAmiInfo'
components:
  schemas:
    UpdateEmailValidationInfo:
      type: object
      description: body of update User Email
      properties:
        captcha:
          type: string
          description: User-provided captcha value
        captchaToken:
          type: string
          description: Captcha token
        tokenId:
          type: string
          description: Token provided by email
      required:
      - captcha
      - captchaToken
      - tokenId
    WhoAmiInfo:
      type: object
      description: 'identifier of tenant account ex: "57xxxxxxxxxxxxxxxxxxxxxx". Expected identifier (max 24 characters)'
      properties:
        content:
          type: string
          description: 'identifier of tenant account ex: "57xxxxxxxxxxxxxxxxxxxxxx". Expected identifier (max 24 characters)'
  securitySchemes:
    X-API-KEY:
      type: apiKey
      name: X-API-KEY
      in: header
    OAuth2.0:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://liveobjects.orange-business.com/api/v1/oauth2/authorize
          tokenUrl: https://liveobjects.orange-business.com/api/v1/oauth2/token
          refreshUrl: https://liveobjects.orange-business.com/api/v1/oauth2/token
          scopes:
            API_KEY_R: Read parameters and status of an API key.
            API_KEY_W: Create, modify, disable an API key.
            BOOTSTRAP_R: Read parameters and status of the LwM2M Bootstrap configurations and entries.
            BOOTSTRAP_W: Create ans modify LwM2M Bootstrap configurations and entries.
            BUS_CONFIG_R: Read config parameters of a FIFO queue.
            BUS_CONFIG_W: Create, modify a FIFO queue.
            BUS_R: Read data on the Live Objects bus. Minimum permission for the API key of an application collecting data on Live Objects in MQTT(s).
            BUS_W: Publish data on the Live Objects bus.
            CAMPAIGN_R: Read parameters and status of a massive deployment campaign on your Device Fleet.
            CAMPAIGN_W: Create, modify a campaign on your Device Fleet.
            CONNECTOR_ACCESS: Role to set on a external connector API key to allow only MQTT external connector mode
            DATA_PROCESSING_R: Read parameters and status of an event processing rule or a Data decoder.
            DATA_PROCESSING_W: Create, modify, disable an event processing rule or a Data decoder.
            DATA_R: Read the data collected by the Store Service or search into this data using the Search Service.
            DATA_W: Insert a data record to the Store Service. Minimum permission required for the API key of a device pushing data to Live Objects in HTTPS.
            DEVICE_ACCESS: Role to set on a Device API key to allow only MQTT Device mode
            DEVICE_R: Read parameters and status of a Device management.
            DEVICE_W: Create, modify, disable a Device management, send command, modify config, update resource of a Device.
            LOGS_R: Read the logs collected by the Audit Log service. This right allows users to use the Audit Log service as debugging tool.
            SETTINGS_R: Read the tenant account custom settings.
            SETTINGS_W: Create, modify tenant account custom settings.
            USER_R: Read parameters and status of a user.
            USER_W: Create, modify, disable a user.
externalDocs:
  description: Live Objects Developer Guide
  url: https://liveobjects.orange-business.com/doc/html/lo_manual_v2.html
x-examples: ''
