openapi: 3.2.0
info:
  title: Live Objects REST API Guide Self tenant account API
  description: API description for Live Objects service
  contact:
    name: Live Objects Support
    url: https://liveobjects.orange-business.com/#/cms/support
  version: 2026.7.0
servers:
- url: https://liveobjects.orange-business.com
security:
- X-API-KEY: []
  OAuth2.0: []
tags:
- name: Self tenant account
  description: Self tenant account management
paths:
  /api/v0/tenants/me:
    get:
      tags:
      - Self tenant account
      summary: Get details of your account
      description: '<p>You will get details of your tenant account, including the offers you are subscribed to.<p><strong>Beware</strong>: The information contained in the following 3 fields is restricted to Live Objects Portal application only. It may change without notice, no backward compatibility is guaranteed to customer applications<ul><li>"offerSettings"<li>"technicalSettings"<li>"userSettings"<ul><br/><br/>No specific role on API key required.'
      operationId: getMyTenant
      responses:
        '200':
          description: The tenant details is returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          description: An ErrorMessage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebErrorResponse'
        '403':
          description: Request forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebErrorResponse'
        '404':
          description: Unknown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebErrorResponse'
components:
  schemas:
    AdminInfo:
      type: object
      properties:
        businessUnit:
          $ref: '#/components/schemas/BusinessUnit'
        vendor:
          $ref: '#/components/schemas/AdminInfoVendor'
        country:
          type: string
        supportVendorIds:
          type: array
          items:
            type: string
          uniqueItems: true
    Tenant:
      type: object
      properties:
        id:
          type: string
        adminInfo:
          $ref: '#/components/schemas/AdminInfo'
        name:
          type: string
        accountType:
          type: string
          enum:
          - ADMIN
          - VENDOR
          - CUSTOMER
        siret:
          type: string
        userSettings:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/SettingsSection'
        offerSettings:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/SettingsSection'
        technicalSettings:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/SettingsSection'
        masterApiKeyId:
          type: string
        mainUserId:
          type: string
        tags:
          type: array
          items:
            type: string
          uniqueItems: true
        creationTs:
          type: integer
          format: int64
        properties:
          type: object
          additionalProperties:
            type: string
        deletionTs:
          type: integer
          format: int64
        identityProvider:
          type: string
          deprecated: true
        activationTs:
          type: integer
          format: int64
        deactivationTs:
          type: integer
          format: int64
        status:
          type: string
        parentId:
          type: string
          deprecated: true
        country:
          type: string
    WebErrorResponse:
      type: object
      description: Error response
      properties:
        id:
          type: string
          description: Unique identifier of this error instance
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Short error description
        details:
          type: string
          description: Detailed error description
      required:
      - code
      - id
      - message
    BusinessUnit:
      type: object
      properties:
        name:
          type: string
    AdminInfoVendor:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    SettingsSection:
      type: object
      description: Setting sections
      properties:
        content:
          description: content
          example:
            enabled: false
        revision:
          type: integer
          format: int32
          description: revision
          example: 2
        version:
          type: string
          description: version
          example: v1
  securitySchemes:
    X-API-KEY:
      type: apiKey
      name: X-API-KEY
      in: header
    OAuth2.0:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://liveobjects.orange-business.com/api/v1/oauth2/authorize
          tokenUrl: https://liveobjects.orange-business.com/api/v1/oauth2/token
          refreshUrl: https://liveobjects.orange-business.com/api/v1/oauth2/token
          scopes:
            API_KEY_R: Read parameters and status of an API key.
            API_KEY_W: Create, modify, disable an API key.
            BOOTSTRAP_R: Read parameters and status of the LwM2M Bootstrap configurations and entries.
            BOOTSTRAP_W: Create ans modify LwM2M Bootstrap configurations and entries.
            BUS_CONFIG_R: Read config parameters of a FIFO queue.
            BUS_CONFIG_W: Create, modify a FIFO queue.
            BUS_R: Read data on the Live Objects bus. Minimum permission for the API key of an application collecting data on Live Objects in MQTT(s).
            BUS_W: Publish data on the Live Objects bus.
            CAMPAIGN_R: Read parameters and status of a massive deployment campaign on your Device Fleet.
            CAMPAIGN_W: Create, modify a campaign on your Device Fleet.
            CONNECTOR_ACCESS: Role to set on a external connector API key to allow only MQTT external connector mode
            DATA_PROCESSING_R: Read parameters and status of an event processing rule or a Data decoder.
            DATA_PROCESSING_W: Create, modify, disable an event processing rule or a Data decoder.
            DATA_R: Read the data collected by the Store Service or search into this data using the Search Service.
            DATA_W: Insert a data record to the Store Service. Minimum permission required for the API key of a device pushing data to Live Objects in HTTPS.
            DEVICE_ACCESS: Role to set on a Device API key to allow only MQTT Device mode
            DEVICE_R: Read parameters and status of a Device management.
            DEVICE_W: Create, modify, disable a Device management, send command, modify config, update resource of a Device.
            LOGS_R: Read the logs collected by the Audit Log service. This right allows users to use the Audit Log service as debugging tool.
            SETTINGS_R: Read the tenant account custom settings.
            SETTINGS_W: Create, modify tenant account custom settings.
            USER_R: Read parameters and status of a user.
            USER_W: Create, modify, disable a user.
externalDocs:
  description: Live Objects Developer Guide
  url: https://liveobjects.orange-business.com/doc/html/lo_manual_v2.html
x-examples: ''
