openapi: 3.2.0
info:
  title: Live Objects REST API Guide Device management - Connector nodes - LoRa specific API
  description: API description for Live Objects service
  contact:
    name: Live Objects Support
    url: https://liveobjects.orange-business.com/#/cms/support
  version: 2026.7.0
servers:
- url: https://liveobjects.orange-business.com
security:
- X-API-KEY: []
  OAuth2.0: []
tags:
- name: Device management - Connector nodes - LoRa specific
  description: LoRa connector specificity
paths:
  /api/v1/deviceMgt/connectors/lora/profiles:
    get:
      tags:
      - Device management - Connector nodes - LoRa specific
      summary: Get LoRa device profile IDs available on your fleet
      description: '<p>(Deprecated) Replaced by the new device profiles API.</p>

        <br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_R.'
      operationId: listLoRaDeviceProfileIds
      responses:
        '200':
          description: Return the list of LoRa device profile IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '403':
          description: Request forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebErrorResponse'
        '503':
          description: In case Lora maintenance mode is enabled
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      deprecated: true
  /api/v1/deviceMgt/connectors/lora/profiles/manufacturers:
    get:
      tags:
      - Device management - Connector nodes - LoRa specific
      summary: List LoRa device manufacturers
      description: '<p>A device manufacturer represents a vendor that produces LoRa devices.</p>

        <br/>

        <p>This endpoint returns the list of available LoRa device manufacturers for your fleet.</p>

        <br/>

        <br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_R.'
      operationId: listLoRaDeviceManufacturers
      responses:
        '200':
          description: Return the list of LoRa device manufacturers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LoraDeviceManufacturer'
        '403':
          description: Request forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebErrorResponse'
        '503':
          description: In case Lora maintenance mode is enabled
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LoraDeviceManufacturer'
  /api/v1/deviceMgt/connectors/lora/profiles/details:
    get:
      tags:
      - Device management - Connector nodes - LoRa specific
      summary: List LoRa device profiles
      description: '<p>A device profile defines the interface capabilities and boot parameters that are needed by the network for access service.

        These information elements shall be provided by the manufacturer.</p>

        <br/>

        <p>LoRa device profiles can include details such as:</p>

        <ul>

        <li>Device type and capabilities</li>

        <li>Communication parameters (frequency, spreading factor, bandwidth)</li>

        <li>Security settings</li>

        <li>Data transmission intervals</li>

        </ul>

        <p>These profiles help manage and identify devices within a LoRa network, ensuring proper communication and functionality.</p>

        <br/>

        <p>This endpoint returns the list of available LoRa device profiles for your fleet.</p>

        <br/>

        <br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_R.'
      operationId: listLoRaDeviceProfiles
      parameters:
      - name: manufacturerName
        in: query
        description: Filter by manufacturer name
        required: false
        schema:
          type: string
      - name: ismBand
        in: query
        description: Filter by ISM band
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Return the list of LoRa device profiles with details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LoraDeviceProfile'
        '403':
          description: Request forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebErrorResponse'
        '503':
          description: In case Lora maintenance mode is enabled
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LoraDeviceProfile'
  /api/v1/deviceMgt/connectors/lora/connectivities:
    get:
      tags:
      - Device management - Connector nodes - LoRa specific
      summary: List LoRa connectivity plans available for your fleet
      description: '<p>A connectivity plan defines the interface capabilities and parameters that are needed by the network for access service.

        These information elements shall be provided by the manufacturer.</p>

        <br/>

        <p>In case there is at least one inconsistency between your provided list of parameters of connectivity and your "lora" offer settings, then

        no result will be returned by this service. Else the content of the result matches provided parameters (case insensitive).</p>

        <p>Depending on your "lora" offer settings, test connectivity plans can be excluded from the result.</p>

        <br/>

        <p>Available parameters:

        <ul>

        <li>id: identifier of the connectivity plan (e.g. "id":"12345678")</li>

        <li>name: name of the connectivity plan (e.g. "name":"my_connectivity_plan")</li>

        <li>parameters.ackUl: does the connectivity plan has the ''acknowledged  uplink frame'' option (e.g. "parameters.ackUl":true)</li>

        <li>parameters.location: does the connectivity plan has the ''location'' option (e.g. "parameters.location":false)</li>

        </ul>

        </p>

        <br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_R.'
      operationId: listLoRaConnectivityPlans
      parameters:
      - name: parameters
        in: query
        description: List of parameters for the connectivity plan
        required: false
        schema:
          type: object
          additionalProperties: {}
        example:
          name: my_connectivity_plan
          parameters.location: false
      responses:
        '200':
          description: List of LoRa connectivity plans
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LoraNetworkSubscriptionDetail'
        '503':
          description: In case Lora maintenance mode is enabled
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LoraNetworkSubscriptionDetail'
components:
  schemas:
    LoraDeviceManufacturer:
      type: object
      properties:
        name:
          type: string
          description: Commercial name of the device manufacturer
          example: Adeunis
    WebErrorResponse:
      type: object
      description: Error response
      properties:
        id:
          type: string
          description: Unique identifier of this error instance
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Short error description
        details:
          type: string
          description: Detailed error description
      required:
      - code
      - id
      - message
    LoraNetworkSubscriptionDetail:
      type: object
      properties:
        id:
          type: string
          description: Unique id of the connectivity plan
          example: orange-cs/cp_ack_location_rep3_adrv2
        name:
          type: string
          description: Commercial name of the connectivity plan
          example: Reseau national LoRa Orange
        parameters:
          type: object
          additionalProperties: {}
          description: List of CP details
          example:
            nbTransMax: 3
            location: true
            ackUl: false
            sfMax: 12
            sfMin: 7
            nbTransMin: 1
    Manufacturer:
      type: object
      properties:
        name:
          type: string
          description: Commercial name of the device manufacturer
          example: Adeunis
    LoraDeviceProfile:
      type: object
      properties:
        id:
          type: string
          description: Unique id of the device profile
          example: Temperature sensor profile id
        name:
          type: string
          description: Commercial name of the device profile
          example: Temperature sensor profile name
        manufacturer:
          $ref: '#/components/schemas/Manufacturer'
          description: Commercial name of the device manufacturer
          example: Sensor maker
        ismBands:
          type: array
          description: List of the ISM bands supported by the device profile
          example:
          - EU863-870 (EU868)
          items:
            type: string
  securitySchemes:
    X-API-KEY:
      type: apiKey
      name: X-API-KEY
      in: header
    OAuth2.0:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://liveobjects.orange-business.com/api/v1/oauth2/authorize
          tokenUrl: https://liveobjects.orange-business.com/api/v1/oauth2/token
          refreshUrl: https://liveobjects.orange-business.com/api/v1/oauth2/token
          scopes:
            API_KEY_R: Read parameters and status of an API key.
            API_KEY_W: Create, modify, disable an API key.
            BOOTSTRAP_R: Read parameters and status of the LwM2M Bootstrap configurations and entries.
            BOOTSTRAP_W: Create ans modify LwM2M Bootstrap configurations and entries.
            BUS_CONFIG_R: Read config parameters of a FIFO queue.
            BUS_CONFIG_W: Create, modify a FIFO queue.
            BUS_R: Read data on the Live Objects bus. Minimum permission for the API key of an application collecting data on Live Objects in MQTT(s).
            BUS_W: Publish data on the Live Objects bus.
            CAMPAIGN_R: Read parameters and status of a massive deployment campaign on your Device Fleet.
            CAMPAIGN_W: Create, modify a campaign on your Device Fleet.
            CONNECTOR_ACCESS: Role to set on a external connector API key to allow only MQTT external connector mode
            DATA_PROCESSING_R: Read parameters and status of an event processing rule or a Data decoder.
            DATA_PROCESSING_W: Create, modify, disable an event processing rule or a Data decoder.
            DATA_R: Read the data collected by the Store Service or search into this data using the Search Service.
            DATA_W: Insert a data record to the Store Service. Minimum permission required for the API key of a device pushing data to Live Objects in HTTPS.
            DEVICE_ACCESS: Role to set on a Device API key to allow only MQTT Device mode
            DEVICE_R: Read parameters and status of a Device management.
            DEVICE_W: Create, modify, disable a Device management, send command, modify config, update resource of a Device.
            LOGS_R: Read the logs collected by the Audit Log service. This right allows users to use the Audit Log service as debugging tool.
            SETTINGS_R: Read the tenant account custom settings.
            SETTINGS_W: Create, modify tenant account custom settings.
            USER_R: Read parameters and status of a user.
            USER_W: Create, modify, disable a user.
externalDocs:
  description: Live Objects Developer Guide
  url: https://liveobjects.orange-business.com/doc/html/lo_manual_v2.html
x-examples: ''
