{"openapi":"3.1.0","info":{"title":"Live Objects REST API Guide","description":"API description for Live Objects service","contact":{"name":"Live Objects Support","url":"https://liveobjects.orange-business.com/#/cms/support"},"version":"2026.7.0"},"externalDocs":{"description":"Live Objects Developer Guide","url":"https://liveobjects.orange-business.com/doc/html/lo_manual_v2.html"},"servers":[{"url":"https://liveobjects.orange-business.com"}],"security":[{"X-API-KEY":[],"OAuth2.0":[]}],"tags":[{"name":"Accounting - V1","description":"get your accounting metrics"},{"name":"Alarm rules","description":"Manage your alarm rules"},{"name":"Api keys","description":"API key management"},{"name":"Api self keys","description":"API self key management"},{"name":"Audit Log","description":"Search through your AuditLog messages"},{"name":"Bootstrap Config","description":"Manage lwm2m bootstrap config"},{"name":"Bootstrap Entry","description":"Manage LwM2M bootstrap entries"},{"name":"Bootstrap Master Entry","description":"Manage LwM2M bootstrap master entries"},{"name":"CA certificates","description":"CA certificates for MQTT client cert. authentication"},{"name":"Campaign management","description":"Management of actions on a fleet of devices"},{"name":"Data bulk injection","description":"APIs to inject a bulk of data"},{"name":"Data management custom pipelines","description":"APIs to manage dataMessage custom pipelines"},{"name":"Data management data search","description":"APIs to search through injected data"},{"name":"Data management data store","description":"APIs to store and retrieve data"},{"name":"Decoders","description":"list all decoders for a tenant"},{"name":"Decoders - CSV","description":"CSV decoder provisioning"},{"name":"Decoders - binary","description":"binary decoder provisioning"},{"name":"Decoders - public","description":"public decoder management"},{"name":"Device Analytics","description":"Manage your device analytics rules"},{"name":"Device management - Commands","description":"Devices commands"},{"name":"Device management - Configuration","description":"Devices configuration"},{"name":"Device management - Connector nodes - LoRa specific","description":"LoRa connector specificity"},{"name":"Device management - Connector nodes - V1","description":"Connector nodes management"},{"name":"Device management - Groups - V1","description":"Group management"},{"name":"Device management - Interfaces","description":"Devices' interfaces management"},{"name":"Device management - Inventory - V1","description":"Devices inventory"},{"name":"Device management - Resources","description":"Devices resources and firmware"},{"name":"Device management - Resources management","description":"Resources management and firmware"},{"name":"Event processing - Activity","description":"ActivityRule management"},{"name":"Event processing - Context","description":"Context management"},{"name":"Event processing - Firing","description":"FiringRules and FiringGuards management"},{"name":"Event processing - Geozone","description":"Geozone management"},{"name":"Event processing - Matching","description":"MatchingRules management"},{"name":"Event processing - State processing","description":"State processing Rules management"},{"name":"Gateway management for LoRa","description":"Gateway management"},{"name":"Inventory Explorer","description":"Inventory explorer management"},{"name":"Notification","description":"sending email or sms notifications"},{"name":"Notification channels","description":"Manage notification channels"},{"name":"Self User management","description":"manage self user"},{"name":"Self tenant account","description":"Self tenant account management"},{"name":"Triggers and Actions","description":"Action policies on event and messages"},{"name":"Triggers and Actions - Test","description":"Test api for actions"},{"name":"Twin data rules management","description":"Manage twin data rules"},{"name":"Twin devices management","description":"Manage twin device"},{"name":"Twin models management","description":"Manage twin model"},{"name":"Twin observations","description":"Manage twin observations"},{"name":"Twin operations management","description":"Manage twin device operations"},{"name":"User Profile and Access Management","description":"manage user profile and get access list"},{"name":"User authentication","description":"authentication"},{"name":"User authentication management","description":"authentication management"},{"name":"Users management","description":"manage users"},{"name":"Beta - Cellular networks management","description":"Cellular subscriptions and providers management"},{"name":"Beta - Network metrics","description":"Search network metrics"},{"name":"Deprecated - Bus management","description":"FIFO are now automatically managed with FifoPublish Action in Trigger & Actions"},{"name":"Deprecated - Data management data search - V0","description":"use data search V1 instead"}],"paths":{"/api/v1/event2action/diagnostics/actionPolicies/{policyId}/actions/{actionId}/suspended":{"put":{"tags":["Triggers and Actions"],"summary":"Resume a suspended action","description":"Diagnostic of an ActionPolicy will indicate if the actions are suspended or not, and the reason why.<p>When the action leads to too many failures (for example Http Push with 5xx responses, FIFO never subbed...) the platform will automatically suspend the action.<p>Once suspended, you can use the resume API to re-enable the action. Please note that if the underlying issue is not fixed, the action will be suspended again.<br/><br/>Usage of this API will be reported in your access log under 'routing' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"updateActionSuspension","parameters":[{"name":"policyId","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"actionId","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"content":{"application/json":{"schema":{"type":"boolean"},"examples":{"Request body":{"description":"Use 'false' in the request body to resume a suspended action.","value":false}}}},"required":true},"responses":{"204":{"description":"Action diagnostic successfully updated"},"404":{"description":"Unknown Action diagnostic "}}}},"/api/v1/event2action/actionPolicies/{policyId}":{"get":{"tags":["Triggers and Actions"],"summary":"Retrieve an ActionPolicy","description":"Triggers and Actions APIs allow you to create action policies that will automatically trigger actions (webhook, push to FIFO, SMS, email, push to an Azure Event Hub server) when specific events or datamessages ('triggers') are received by the platform.<br/>These triggers and actions endpoints are related to the routing & alarming notification feature.<br/>\r\nPlease see the dedicated sections in our developer guide for more details.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"getActionPolicyV1","parameters":[{"name":"policyId","in":"path","description":"id of the ActionPolicy to retrieve","required":true,"schema":{"type":"string"}},{"name":"showSensitiveInformation","in":"query","description":"whether or not to show sensitive information, such as HttpPush headers, Azure secrets","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"ActionPolicy Successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionPolicy"}}}},"404":{"description":"Unknown ActionPolicy","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionPolicy"}}}}}},"put":{"tags":["Triggers and Actions"],"summary":"Create or update an ActionPolicy","description":"Triggers and Actions APIs allow you to create action policies that will automatically trigger actions (webhook, push to FIFO, SMS, email, push to an Azure Event Hub server) when specific events or datamessages ('triggers') are received by the platform.<br/>These triggers and actions endpoints are related to the routing & alarming notification feature.<br/>\r\nPlease see the dedicated sections in our developer guide for more details.<br/><br/>Usage of this API will be reported in your access log under 'routing' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"updateActionPolicyV1","parameters":[{"name":"policyId","in":"path","description":"id of the ActionPolicy to save. Max length is 100.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionPolicy"},"examples":{"PUT with no actionIds":{"description":"This example will update an action policy with new actions (action ids not provided)","value":{"id":"000000-0000-0000-0000-00000000","name":"name-aea80c1d-5777-4e20-822c-5e6871f428e5","enabled":true,"triggers":{"deviceStatus":{"version":1,"filter":{"connectors":["mqtt"],"groupPaths":[{"path":"/lyon","includeSubPath":true}]}}},"actions":{"emails":[{"to":["notification@orange.com"],"cc":["cc@orange.com"],"cci":["cci@orange.com"],"subjectTemplate":"State change for {{stateKey}}","contentTemplate":"{{stateKey}} change from state {{previousState}} to state {{newState}} at {{timestamp}}"}],"sms":[{"destinationPhoneNumbers":["+33601234567"],"contentTemplate":"{{stateKey}} new state {{newState}} at {{timestamp}}"}]}}}}}},"required":true},"responses":{"200":{"description":"ActionPolicy created or updated"},"404":{"description":"Unknown ActionPolicy"}}},"delete":{"tags":["Triggers and Actions"],"summary":"Delete an ActionPolicy","description":"Triggers and Actions APIs allow you to create action policies that will automatically trigger actions (webhook, push to FIFO, SMS, email, push to an Azure Event Hub server) when specific events or datamessages ('triggers') are received by the platform.<br/>These triggers and actions endpoints are related to the routing & alarming notification feature.<br/>\r\nPlease see the dedicated sections in our developer guide for more details.<br/><br/>Usage of this API will be reported in your access log under 'routing' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"deleteActionPolicyV1","parameters":[{"name":"policyId","in":"path","description":"id of the ActionPolicy to delete","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"ActionPolicy Successfully deleted"},"404":{"description":"Unknown ActionPolicy"}}}},"/api/v1/event2action/actionPolicies/{policyId}/enabled":{"put":{"tags":["Triggers and Actions"],"summary":"Enable or Disable an ActionPolicy","description":"Triggers and Actions APIs allow you to create action policies that will automatically trigger actions (webhook, push to FIFO, SMS, email, push to an Azure Event Hub server) when specific events or datamessages ('triggers') are received by the platform.<br/>These triggers and actions endpoints are related to the routing & alarming notification feature.<br/>\r\nPlease see the dedicated sections in our developer guide for more details.You can use this API to re-enabled a suspended policy.<br/><br/>Usage of this API will be reported in your access log under 'routing' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"setEnabledField","parameters":[{"name":"policyId","in":"path","description":"id of the ActionPolicy to update","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"boolean","description":"Use 'true' to enable and 'false' to disable."}}},"required":true},"responses":{"200":{"description":"ActionPolicy 'enabled' field updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionPolicy"}}}},"404":{"description":"Unknown ActionPolicy","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionPolicy"}}}}}}},"/api/v1/deviceMgt/groups/{groupId}":{"get":{"tags":["Device management - Groups - V1"],"summary":"Get a device group","description":"Managing groups of devices allows you to organize your devices in a hierarchical structure. Groups can be used to target specific subsets of devices when performing operations such as filtering triggers and actions rules, querying their data... Groups can be nested, allowing you to create a tree-like structure of groups and subgroups. <br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_R.","operationId":"getGroup","parameters":[{"name":"groupId","in":"path","description":"the Group Identifier. Expected string (max 6 characters)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Group"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"Group not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}},"put":{"tags":["Device management - Groups - V1"],"summary":"Update a device group","description":"Managing groups of devices allows you to organize your devices in a hierarchical structure. Groups can be used to target specific subsets of devices when performing operations such as filtering triggers and actions rules, querying their data... Groups can be nested, allowing you to create a tree-like structure of groups and subgroups. <br/><br/>Usage of this API will be reported in your access log under 'device_inventory' category.<br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_W.","operationId":"updateGroup","parameters":[{"name":"groupId","in":"path","description":"identifier to update group. Expected string (max 6 characters)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupUpdateRequest"}}},"required":true},"responses":{"200":{"description":"The group newly created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Group"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"Group not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"409":{"description":"Group already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}},"delete":{"tags":["Device management - Groups - V1"],"summary":"Delete a device group","description":"Managing groups of devices allows you to organize your devices in a hierarchical structure. Groups can be used to target specific subsets of devices when performing operations such as filtering triggers and actions rules, querying their data... Groups can be nested, allowing you to create a tree-like structure of groups and subgroups. <br/><br/>Usage of this API will be reported in your access log under 'device_inventory' category.<br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_W.","operationId":"deleteGroup","parameters":[{"name":"groupId","in":"path","description":"targeted for deletion group identifier. Expected string (max 6 characters)","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Group deleted"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"Group not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}}},"/api/v1/deviceMgt/devices/{deviceId}/twin/operations/{operationId}/status":{"put":{"tags":["Twin operations management"],"summary":"Set twin operation status for a given deviceId and operationId","description":"Restricted to API keys with at least one of the following roles: DEVICE_W.","operationId":"setTwinOperationStatus","parameters":[{"name":"deviceId","in":"path","description":"A Live Objects URN 'urn:lo:nsid:{namespace}:{id}' must respect the following regular expression <code>^urn:lo:nsid:([\\w\\-]{1,128}):([\\w\\-:]{1,128})$</code> (max 269 characters)","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","description":"Identifier of specific twin operation. Expected string (max 32 characters)","required":true,"schema":{"type":"string"}},{"name":"force","in":"query","description":"cancelling mode. When force is false, the DeviceTwin manager prevents operation with status not started from starting, cancel operation with status pending and let operation with status in progress finish properly. When force is true, the DeviceTwin manager aborts pending or in progress operation immediately.","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","description":"future state of the operation  --> CANCELED","enum":["CANCELED"]}}},"required":true},"responses":{"200":{"description":"Twin operation status has been set"},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Delete forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"404":{"description":"Operation not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"409":{"description":"Invalid operation status update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/api/v1/deviceMgt/devices/{deviceId}/config/parameters/{paramKey}/status":{"put":{"tags":["Device management - Configuration"],"summary":"Update the status of a specific device parameter","description":"Restricted to API keys with at least one of the following roles: DEVICE_W.","operationId":"setDeviceParamUpdateStatusV1","parameters":[{"name":"deviceId","in":"path","description":"device identifier. A Live Objects URN 'urn:lo:nsid:{namespace}:{id}' must respect the following regular expression <code>^urn:lo:nsid:([\\w\\-]{1,128}):([\\w\\-:]{1,128})$</code> (max 269 characters)","required":true,"schema":{"type":"string"}},{"name":"paramKey","in":"path","description":"key identifying the targeted device parameter. Expected string (max 128 characters)","required":true,"schema":{"type":"string"}},{"name":"force","in":"query","description":"force the update of the parameter status","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","description":"future state of the parameter --> CANCELED","enum":["CANCELED"]}}},"required":true},"responses":{"200":{"description":"Parameter status updated"},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"Unknown device parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}}},"/api/v1/deviceMgt/commands/{commandId}/status":{"get":{"tags":["Device management - Commands"],"summary":"Get the status of a specific command by its identifier. A command is an instruction sent to a device, telling it to perform a specific action, change a configuration parameter, or report information.","description":"Restricted to API keys with at least one of the following roles: DEVICE_R.","operationId":"getCommandStatusV1","parameters":[{"name":"commandId","in":"path","description":"identifier of specific command. Expected identifier (max 24 characters)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The command status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommandStatusReport"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"Command not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}},"put":{"tags":["Device management - Commands"],"summary":"Update the status of a specific command by its identifier. A command is an instruction sent to a device, telling it to perform a specific action, change a configuration parameter, or report information.","description":"Restricted to API keys with at least one of the following roles: DEVICE_W.","operationId":"setCommandStatusV1","parameters":[{"name":"commandId","in":"path","description":"identifier of specific command. Expected identifier (max 24 characters)","required":true,"schema":{"type":"string"}},{"name":"force","in":"query","description":"force the update of the command status","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","description":"future state of the command  --> CANCELED","enum":["CANCELED"]}}},"required":true},"responses":{"200":{"description":"Command status updated"},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"Command not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"409":{"description":"Invalid command status update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}}},"/api/v1/device-analytics/rules/{analyticsRuleId}":{"get":{"tags":["Device Analytics"],"summary":"Retrieve an AnalyticsRule.","description":"An AnalyticsRule defines a fleet of devices whose behavior will be analyzed by algorithms, generating a weekly report. This report includes general fleet behavior, detection of outliers, connectivity status...<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"getAnalyticsRule","parameters":[{"name":"analyticsRuleId","in":"path","description":"id of the AnalyticsRule to retrieve","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"AnalyticsRule successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRule"}}}},"404":{"description":"Unknown AnalyticsRule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRule"}}}}}},"put":{"tags":["Device Analytics"],"summary":"Update an AnalyticsRule.","description":"The field `id` must be provided and match the API path id.<br/><br/>Usage of this API will be reported in your access log under 'device_analytics' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"updateAnalyticsRule","parameters":[{"name":"analyticsRuleId","in":"path","description":"id of the AnalyticsRule to retrieve","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRule"},"examples":{"Rule for a LoRa fleet with a filter on group":{"description":"Rule for a LoRa fleet with a filter on group","value":{"id":"1234567890","name":"Lora Fleet analytics","fleet":{"connectors":["lora"],"groupPaths":[{"path":"/france","includeSubPath":true}]},"report":{"recipients":{"to":["jane.doe@mycompany.com"],"cc":["john.doe@mycompany.com"]},"language":"fr"},"enabled":true}}}}},"required":true},"responses":{"200":{"description":"AnalyticsRule successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRule"}}}},"404":{"description":"Unknown AnalyticsRule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsRule"}}}}}},"delete":{"tags":["Device Analytics"],"summary":"Delete an AnalyticsRule.","description":"Usage of this API will be reported in your access log under 'device_analytics' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"deleteAnalyticsRule","parameters":[{"name":"analyticsRuleId","in":"path","description":"id of the AnalyticsRule to delete","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"AnalyticsRule successfully deleted"},"404":{"description":"Unknown AnalyticsRule"}}}},"/api/v1/contact/notificationChannels/{notificationChannelId}":{"get":{"tags":["Notification channels"],"summary":"Get a notification channel.","description":"Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"getNotificationChannel","parameters":[{"name":"notificationChannelId","in":"path","description":"notification channel identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The notification channel","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationChannel"}}}}}},"put":{"tags":["Notification channels"],"summary":"Update a notification channel.","description":"Usage of this API will be reported in your access log under 'notification' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"updateNotificationChannel","parameters":[{"name":"notificationChannelId","in":"path","description":"notification channel identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationChannelRequest"}}},"required":true},"responses":{"200":{"description":"The notification channel was successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationChannel"}}}},"404":{"description":"The notification channel was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"delete":{"tags":["Notification channels"],"summary":"Delete a notification channel.","description":"Usage of this API will be reported in your access log under 'notification' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"deleteNotificationChannel","parameters":[{"name":"notificationChannelId","in":"path","description":"notification channel identifier","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The notification channel was successfully deleted"},"404":{"description":"The notification channel was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/api/v1/bootstrap/lwm2m/masterEntries/{masterEntryId}/name":{"put":{"tags":["Bootstrap Master Entry"],"summary":"Set the name of a bootstrap master entry.","description":"Usage of this API will be reported in your access log under 'bootstrap' category.<br/><br/>Restricted to API keys with at least one of the following roles: BOOTSTRAP_W.","operationId":"setMasterEntryName","parameters":[{"name":"masterEntryId","in":"path","description":"the id of the master entry to update","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"},"examples":{"name":{"description":"name","value":"My Bootstrap Master Entry"}}}}},"responses":{"204":{"description":"No Content"}}}},"/api/v1/bootstrap/lwm2m/masterEntries/{masterEntryId}/definition/bootstrapConfigId":{"put":{"tags":["Bootstrap Master Entry"],"summary":"Set the bootstrapConfigId field of a bootstrap master entry.","description":"Usage of this API will be reported in your access log under 'bootstrap' category.<br/><br/>Restricted to API keys with at least one of the following roles: BOOTSTRAP_W.","operationId":"setMasterEntryBootstrapConfigId","parameters":[{"name":"masterEntryId","in":"path","description":"the id of the master entry to update","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"},"examples":{"bootstrapConfigId":{"description":"bootstrapConfigId","value":"63c17e68f98ac770eac303fb"}}}}},"responses":{"204":{"description":"No Content"}}}},"/api/v1/bootstrap/lwm2m/entries/{endpointName}/security":{"put":{"tags":["Bootstrap Entry"],"summary":"Update the Bootstrap security info.","description":"Usage of this API will be reported in your access log under 'bootstrap' category.<br/><br/>Restricted to API keys with at least one of the following roles: BOOTSTRAP_W.","operationId":"updateBootstrapSecurityInfo","parameters":[{"name":"endpointName","in":"path","description":"the endpoint client name for which the entry will be updated","required":true,"schema":{"type":"string"},"example":"urn:imei:000000000000000"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BootstrapSecurityInfo"},"examples":{"bootstrapSecurityInfo":{"description":"bootstrapSecurityInfo","value":{"mode":"PSK","pskInfo":{"identity":"urn:lo:nsid:lwm2m:sensor12Stream","secret":"0123456789ABCDEF0123456789ABCDEF"}}}}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/v1/bootstrap/lwm2m/entries/{endpointName}/definition/runServers/{id}":{"put":{"tags":["Bootstrap Entry"],"summary":"Update a Run Server of a lwm2m bootstrap entry.","description":"Usage of this API will be reported in your access log under 'bootstrap' category.<br/><br/>Restricted to API keys with at least one of the following roles: BOOTSTRAP_W.","operationId":"updateRunServer","parameters":[{"name":"endpointName","in":"path","description":"the endpoint client name for which the entry will be updated","required":true,"schema":{"type":"string"},"example":"urn:imei:000000000000000"},{"name":"id","in":"path","description":"the identifier of the Run Server that will be updated or added","required":true,"schema":{"type":"string"},"example":"myServer"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunServerConfigParams"},"examples":{"runServer":{"description":"runServer","value":{"id":"LOServer","security":{"pskInfo":{"identity":"urn:lo:nsid:lwm2m:sensor12Stream","secret":"0123456789ABCDEF0123456789ABCDEF"}}}}}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["Bootstrap Entry"],"summary":"Delete a Run Server of a lwm2m bootstrap entry.","description":"Usage of this API will be reported in your access log under 'bootstrap' category.<br/><br/>Restricted to API keys with at least one of the following roles: BOOTSTRAP_W.","operationId":"deleteRunServer","parameters":[{"name":"endpointName","in":"path","description":"the endpoint client name for which the entry will be deleted","required":true,"schema":{"type":"string"},"example":"urn:imei:000000000000000"},{"name":"id","in":"path","description":"the identifier of the Run Server to delete","required":true,"schema":{"type":"string"},"example":"myServer"}],"responses":{"204":{"description":"No Content"}}}},"/api/v1/bootstrap/lwm2m/entries/{endpointName}/definition/bootstrapConfigId":{"put":{"tags":["Bootstrap Entry"],"summary":"Set the bootstrapConfigId field of a bootstrap entry.","description":"Usage of this API will be reported in your access log under 'bootstrap' category.<br/><br/>Restricted to API keys with at least one of the following roles: BOOTSTRAP_W.","operationId":"setBootstrapConfigId","parameters":[{"name":"endpointName","in":"path","description":"the endpoint client name for which the entry will be updated","required":true,"schema":{"type":"string"},"example":"urn:imei:000000000000000"}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"},"examples":{"bootstrapConfigId":{"description":"bootstrapConfigId","value":"63c17e68f98ac770eac303fb"}}}}},"responses":{"204":{"description":"No Content"}}}},"/api/v1/bootstrap/lwm2m/configs/{configId}":{"get":{"tags":["Bootstrap Config"],"summary":"Get a lwm2m bootstrap config from configId.","description":"Restricted to API keys with at least one of the following roles: BOOTSTRAP_R.","operationId":"getLwm2mBootstrapConfig","parameters":[{"name":"configId","in":"path","description":"bootstrap config identifier","required":true,"schema":{"type":"string"}},{"name":"showSensitiveInformation","in":"query","description":"whether or not to show sensitive information (headers in external config server)","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Bootstrap config","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BootstrapConfig"}}}}}},"put":{"tags":["Bootstrap Config"],"summary":"Update a lwm2m bootstrap config.","description":"Usage of this API will be reported in your access log under 'bootstrap' category.<br/><br/>Restricted to API keys with at least one of the following roles: BOOTSTRAP_W.","operationId":"updateLwm2mBootstrapConfig","parameters":[{"name":"configId","in":"path","description":"bootstrap config identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BootstrapConfigRequest"},"examples":{"Config Update Request":{"description":"Config Update Request","value":{"name":"NewName","description":"This is a new description","runServers":[{"id":"myServer","useLiveObjects":false,"lwm2mDefinition":{"security":{"shortServerId":1,"lwm2mServerUri":"myURI","securityMode":0},"server":{"shortServerId":1,"lifetime":300,"binding":"U"}}}]}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BootstrapConfig"}}}}}},"delete":{"tags":["Bootstrap Config"],"summary":"Delete a lwm2m bootstrap config from configId.","description":"Usage of this API will be reported in your access log under 'bootstrap' category.<br/><br/>Restricted to API keys with at least one of the following roles: BOOTSTRAP_W.","operationId":"deleteLwm2mBootstrapConfig","parameters":[{"name":"configId","in":"path","description":"bootstrap config identifier","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Bootstrap config deleted"}}}},"/api/v1/alarms/rules/{ruleId}":{"get":{"tags":["Alarm rules"],"summary":"Retrieve an AlarmRule.","description":"Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"getAlarmRule","parameters":[{"name":"ruleId","in":"path","description":"id of the AlarmRule to retrieve","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"AlarmRule successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlarmRule"}}}},"404":{"description":"Unknown AlarmRule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlarmRule"}}}}}},"put":{"tags":["Alarm rules"],"summary":"Update an AlarmRule.","description":"The field `id` must be provided and match the API path id.<br/><br/>Usage of this API will be reported in your access log under 'alarming' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"updateAlarmRule","parameters":[{"name":"ruleId","in":"path","description":"id of the AlarmRule to retrieve","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlarmRule"},"examples":{"Rule for suspended action policy":{"description":"Rule for suspended action policy","value":{"id":"1234567890","name":"Action policy suspended","enabled":true,"type":"actionPolicySuspended","notifications":{"notificationChannelIds":["default"]}}}}}},"required":true},"responses":{"200":{"description":"AlarmRule successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlarmRule"}}}},"404":{"description":"Unknown AlarmRule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlarmRule"}}}}}},"delete":{"tags":["Alarm rules"],"summary":"Delete an AlarmRule.","description":"Usage of this API will be reported in your access log under 'alarming' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"deleteAlarmRule","parameters":[{"name":"ruleId","in":"path","description":"id of the AlarmRule to delete","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"AlarmRule successfully deleted"},"404":{"description":"Unknown AlarmRule"}}}},"/api/v0/users/me/portaldata":{"get":{"tags":["Self User management"],"summary":"Get the portal data of me","description":"No specific role on API key required.","operationId":"getUserPortalData","responses":{"200":{"description":"User portal data","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"An ErrorMessage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"Unknown","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}},"put":{"tags":["Self User management"],"summary":"Update the portal data of me","description":"No specific role on API key required.","operationId":"updateUserPortalData","requestBody":{"content":{"application/json":{"schema":{"type":"object","description":"body of my user portal data Update"}}},"required":true},"responses":{"204":{"description":"No content"},"400":{"description":"An ErrorMessage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"Unknown","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"413":{"description":"Request Entity Too Large","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}}},"/api/v0/rm/{resourceId}/version/{resourceVersionId}":{"get":{"tags":["Device management - Resources management"],"summary":"Get a resource's version","description":"Restricted to API keys with at least one of the following roles: DEVICE_R.","operationId":"getResourceVersion","parameters":[{"name":"resourceId","in":"path","description":"the resource id. Expected string (max 255 characters)","required":true,"schema":{"type":"string"}},{"name":"resourceVersionId","in":"path","description":"the resource version id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The resource version","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceVersion"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"Resource version not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}},"put":{"tags":["Device management - Resources management"],"summary":"Update a resource's version","description":"Usage of this API will be reported in your access log under 'device_resource' category.<br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_W.","operationId":"updateResourceVersion","parameters":[{"name":"resourceId","in":"path","description":"the resource id. Expected string (max 255 characters)","required":true,"schema":{"type":"string"}},{"name":"resourceVersionId","in":"path","description":"the resource version id. Expected string (max 255 characters)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateResourceVersionRequest"}}},"required":true},"responses":{"200":{"description":"The resource version","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceVersion"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"Resource version not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}},"delete":{"tags":["Device management - Resources management"],"summary":"Delete a resource's version","description":"Usage of this API will be reported in your access log under 'device_resource' category.<br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_W.","operationId":"deleteResourceVersion","parameters":[{"name":"resourceId","in":"path","description":"the resource id. Expected string (max 255 characters)","required":true,"schema":{"type":"string"}},{"name":"resourceVersionId","in":"path","description":"the resource version id. Expected string (max 255 characters)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Resource version deleted"},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"Resource version not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}}},"/api/v0/rm/{resourceId}":{"get":{"tags":["Device management - Resources management"],"summary":"Get a resource","description":"Restricted to API keys with at least one of the following roles: DEVICE_R.","operationId":"getResource","parameters":[{"name":"resourceId","in":"path","description":"the resource id. Expected string (max 255 characters)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Resource"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}},"put":{"tags":["Device management - Resources management"],"summary":"Update a resource","description":"Usage of this API will be reported in your access log under 'device_resource' category.<br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_W.","operationId":"updateResource","parameters":[{"name":"resourceId","in":"path","description":"the resource Id. Expected string (max 255 characters)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateResourceRequest"}}},"required":true},"responses":{"200":{"description":"The resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Resource"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}},"delete":{"tags":["Device management - Resources management"],"summary":"Delete a resource","description":"Usage of this API will be reported in your access log under 'device_resource' category.<br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_W.","operationId":"deleteResource","parameters":[{"name":"resourceId","in":"path","description":"the resource id. Expected string (max 255 characters)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Resource deleted"},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}}},"/api/v0/pipelines/{pipelineId}":{"get":{"tags":["Data management custom pipelines"],"summary":"Retrieve a DataMessage pipeline","description":"DataMessage pipelines can transform your data by calling external services in the processing flow.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"getPipeline","parameters":[{"name":"pipelineId","in":"path","description":"id of the pipeline to retrieve","required":true,"schema":{"type":"string","minLength":1}},{"name":"showSensitiveInformation","in":"query","description":"whether or not to show sensitive information, such as headers. Default value is false.","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"DataMessage pipeline","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Pipeline"}}}}}},"put":{"tags":["Data management custom pipelines"],"summary":"Update a DataMessage pipeline","description":"DataMessage pipelines can transform your data by calling external services in the processing flow.<br/><br/>Usage of this API will be reported in your access log under 'data_pipeline' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"updatePipeline","parameters":[{"name":"pipelineId","in":"path","description":"id of the pipeline to update","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Pipeline"}}},"required":true},"responses":{"200":{"description":"DataMessage pipeline updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Pipeline"}}}}}},"delete":{"tags":["Data management custom pipelines"],"summary":"Delete a DataMessage pipeline","description":"DataMessage pipelines can transform your data by calling external services in the processing flow.<br/><br/>Usage of this API will be reported in your access log under 'data_pipeline' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"deletePipeline","parameters":[{"name":"pipelineId","in":"path","description":"id of the pipeline to delete","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"DataMessage pipeline deleted"}}}},"/api/v0/eventprocessing/stateprocessing-rule/{stateProcessingRuleId}":{"get":{"tags":["Event processing - State processing"],"summary":"Retrieve a StateProcessingRule","description":"State processing service aims at detecting changes in 'device state' computed from data messages. A state can represent any result computed from Live Objects data messages : geo-zone ('paris-area', 'london-area', ..), temperature status ('hot', 'cold', ..), availability status ('ok' , 'ko'). Each state is identified by a key retrieved from the user-defined json-path in the data message. stateKeyPath examples : 'streamId', 'metadata.source'...<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"getStateProcessingRule","parameters":[{"name":"stateProcessingRuleId","in":"path","description":"id of the StateProcessingRule to retrieve","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"StateProcessingRule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StateProcessingRule"}}}}}},"put":{"tags":["Event processing - State processing"],"summary":"Update a StateProcessingRule","description":"State processing service aims at detecting changes in 'device state' computed from data messages. A state can represent any result computed from Live Objects data messages : geo-zone ('paris-area', 'london-area', ..), temperature status ('hot', 'cold', ..), availability status ('ok' , 'ko'). Each state is identified by a key retrieved from the user-defined json-path in the data message. stateKeyPath examples : 'streamId', 'metadata.source'...<br/><br/>Usage of this API will be reported in your access log under 'alarming' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"updateStateProcessingRule","parameters":[{"name":"stateProcessingRuleId","in":"path","description":"id of the StateProcessingRule to update","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StateProcessingRule"}}},"required":true},"responses":{"204":{"description":"The StateProcessingRule has been updated"}}},"delete":{"tags":["Event processing - State processing"],"summary":"Delete a StateProcessingRule","description":"State processing service aims at detecting changes in 'device state' computed from data messages. A state can represent any result computed from Live Objects data messages : geo-zone ('paris-area', 'london-area', ..), temperature status ('hot', 'cold', ..), availability status ('ok' , 'ko'). Each state is identified by a key retrieved from the user-defined json-path in the data message. stateKeyPath examples : 'streamId', 'metadata.source'...<br/><br/>Usage of this API will be reported in your access log under 'alarming' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"deleteStateProcessingRule","parameters":[{"name":"stateProcessingRuleId","in":"path","description":"id of the StateProcessingRule to delete","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"StateProcessingRule has been deleted"}}}},"/api/v0/eventprocessing/matching-rule/{matchingRuleId}":{"get":{"tags":["Event processing - Matching"],"summary":"Retrieve a MatchingRule","description":"A MatchingRule will be applied on each data message to evaluate if a 'match' occurs. It is evaluated as a boolean result. It supports numeric, string, logic and distance operators and is based on JsonLogic. This MatchingRule should then be linked to a FiringRule to trigger an event when a match occurs.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"getMatchingRule","parameters":[{"name":"matchingRuleId","in":"path","description":"id of the MatchingRule to retrieve","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"MatchingRule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchingRule"}}}}}},"put":{"tags":["Event processing - Matching"],"summary":"Update a MatchingRule","description":"A MatchingRule will be applied on each data message to evaluate if a 'match' occurs. It is evaluated as a boolean result. It supports numeric, string, logic and distance operators and is based on JsonLogic. This MatchingRule should then be linked to a FiringRule to trigger an event when a match occurs.<br/><br/>Usage of this API will be reported in your access log under 'alarming' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"updateMatchingRule","parameters":[{"name":"matchingRuleId","in":"path","description":"id of the MatchingRule to update","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchingRule"}}},"required":true},"responses":{"204":{"description":"The MatchingRule has been updated"}}},"delete":{"tags":["Event processing - Matching"],"summary":"Delete a MatchingRule","description":"A MatchingRule will be applied on each data message to evaluate if a 'match' occurs. It is evaluated as a boolean result. It supports numeric, string, logic and distance operators and is based on JsonLogic. This MatchingRule should then be linked to a FiringRule to trigger an event when a match occurs.<br/><br/>Usage of this API will be reported in your access log under 'alarming' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"deleteMatchingRule","parameters":[{"name":"matchingRuleId","in":"path","description":"id of the MatchingRule to delete","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"MatchingRule has been deleted"}}}},"/api/v0/eventprocessing/geozones/{zoneId}":{"get":{"tags":["Event processing - Geozone"],"summary":"retrieve a geozone from repository","description":"The Geozone repository is a database that allows storing geographical sites/zones of interest. The geozones are stored as polygons (array of geopoints coordinates in decimal degrees). Meta information like a description and tags can be stored with the geozone. The Geozone format : coordinates for polygon definition, use longitude as the first coordinate and latitude as the second coordinate, polygons are closed linestrings, with at least four coordinate pairs and specify the same position as the first and last coordinates. You can define several polygons in the same geozone, for example to define a zone with holes (first polygon is the external limit of the zone and the following polygons are holes in this zone). e.g. [[[1.780892, 48.091452], [2.301382, 48.000565], [2.281961, 47.509630], [1.252634, 47.729556], [1.780892, 48.091452]]]<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"getEventProcessingGeozone","parameters":[{"name":"zoneId","in":"path","description":"the user-defined id of the zone to retrieve","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Geozone retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeozoneContainer"}}}},"404":{"description":"Unable to find specified geozone id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeozoneContainer"}}}}}},"put":{"tags":["Event processing - Geozone"],"summary":"Store a geographic zone","description":"The Geozone repository is a database that allows storing geographical sites/zones of interest. The geozones are stored as polygons (array of geopoints coordinates in decimal degrees). Meta information like a description and tags can be stored with the geozone. The Geozone format : coordinates for polygon definition, use longitude as the first coordinate and latitude as the second coordinate, polygons are closed linestrings, with at least four coordinate pairs and specify the same position as the first and last coordinates. You can define several polygons in the same geozone, for example to define a zone with holes (first polygon is the external limit of the zone and the following polygons are holes in this zone). e.g. [[[1.780892, 48.091452], [2.301382, 48.000565], [2.281961, 47.509630], [1.252634, 47.729556], [1.780892, 48.091452]]]<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"saveEventProcessingGeozone","parameters":[{"name":"zoneId","in":"path","description":"the id of the zone to save","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeozoneContainerBase"}}},"required":true},"responses":{"201":{"description":"Geo zone created or updated"}}},"delete":{"tags":["Event processing - Geozone"],"summary":"delete a geographic zone","description":"The Geozone repository is a database that allows storing geographical sites/zones of interest. The geozones are stored as polygons (array of geopoints coordinates in decimal degrees). Meta information like a description and tags can be stored with the geozone. The Geozone format : coordinates for polygon definition, use longitude as the first coordinate and latitude as the second coordinate, polygons are closed linestrings, with at least four coordinate pairs and specify the same position as the first and last coordinates. You can define several polygons in the same geozone, for example to define a zone with holes (first polygon is the external limit of the zone and the following polygons are holes in this zone). e.g. [[[1.780892, 48.091452], [2.301382, 48.000565], [2.281961, 47.509630], [1.252634, 47.729556], [1.780892, 48.091452]]]<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"deleteEventProcessingGeozone","parameters":[{"name":"zoneId","in":"path","description":"the id of the zone to delete","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Geo zone deleted"}}}},"/api/v0/eventprocessing/firing-rule/{firingRuleId}":{"get":{"tags":["Event processing - Firing"],"summary":"Retrieve a FiringRule","description":"A FiringRule applies to the matches triggered by one or many matching rules and defines when fired events must be generated.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"getFiringRule","parameters":[{"name":"firingRuleId","in":"path","description":"id of the FiringRule to retrieve","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"FiringRule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiringRule"}}}}}},"put":{"tags":["Event processing - Firing"],"summary":"Update a FiringRule","description":"A FiringRule applies to the matches triggered by one or many matching rules and defines when fired events must be generated.<br/><br/>Usage of this API will be reported in your access log under 'alarming' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"updateFiringRule","parameters":[{"name":"firingRuleId","in":"path","description":"id of the FiringRule to update","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiringRule"}}},"required":true},"responses":{"204":{"description":"The FiringRule has been updated"}}},"delete":{"tags":["Event processing - Firing"],"summary":"Delete a FiringRule","description":"A FiringRule applies to the matches triggered by one or many matching rules and defines when fired events must be generated.<br/><br/>Usage of this API will be reported in your access log under 'alarming' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"deleteFiringRule","parameters":[{"name":"firingRuleId","in":"path","description":"id of the FiringRule to delete","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Delete request has been accepted. Return true if the FiringRule did exist, false else."}}}},"/api/v0/eventprocessing/context/{contextKey}":{"get":{"tags":["Event processing - Context"],"summary":"Retrieve a context data","description":"The context repository is a database that allows storing user data that can be used in the MatchingRules and StateProcessingRules when the value is not present in the data messages. The context may include thresholds definition, geographical zones, a list of device identifiers, a user preference, a group of contexts. The context has a key-value format. The key is a string and the value can be a primitive (string, numeric…​), a JSON object or an array.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"getEventProcessingContext","parameters":[{"name":"contextKey","in":"path","description":"key of the context to get","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"a context","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContextContainer"}}}}}},"put":{"tags":["Event processing - Context"],"summary":"Store a context data.","description":"The context repository is a database that allows storing user data that can be used in the MatchingRules and StateProcessingRules when the value is not present in the data messages. The context may include thresholds definition, geographical zones, a list of device identifiers, a user preference, a group of contexts. The context has a key-value format. The key is a string and the value can be a primitive (string, numeric…​), a JSON object or an array.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"saveEventProcessingContext","parameters":[{"name":"contextKey","in":"path","description":"context key to store","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContextContainer"}}},"required":true},"responses":{"200":{"description":"Context stored","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContextContainer"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContextContainer"}}}}}},"delete":{"tags":["Event processing - Context"],"summary":"Delete a context data.","description":"The context repository is a database that allows storing user data that can be used in the MatchingRules and StateProcessingRules when the value is not present in the data messages. The context may include thresholds definition, geographical zones, a list of device identifiers, a user preference, a group of contexts. The context has a key-value format. The key is a string and the value can be a primitive (string, numeric…​), a JSON object or an array.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"deleteEventProcessingContext","parameters":[{"name":"contextKey","in":"path","description":"key of the context to delete","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Deleted context key"}}}},"/api/v0/eventprocessing/activity/states/mute":{"put":{"tags":["Event processing - Activity"],"summary":"Mute or reset nextAlarm of ActivityStates targeted by a specific deviceId/activityRuleId","description":"Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"muteActivityRule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityStateMuteRequest"}}},"required":true},"responses":{"200":{"description":"ActivityState has been updated, return the number of targeted states","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}}}},"/api/v0/eventprocessing/activity/rules/{activityRuleId}":{"get":{"tags":["Event processing - Activity"],"summary":"Retrieve an ActivityRule","description":"An ActivityRule will monitor device activity and trigger events when they become silent after certain amount a time.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"getActivityRule","parameters":[{"name":"activityRuleId","in":"path","description":"id of the ActivityRule to retrieve","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"ActivityRule","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityRule"}}}}}},"put":{"tags":["Event processing - Activity"],"summary":"Update an ActivityRule","description":"An ActivityRule will monitor device activity and trigger events when they become silent after certain amount a time.<br/><br/>Usage of this API will be reported in your access log under 'alarming' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"updateActivityRule","parameters":[{"name":"activityRuleId","in":"path","description":"id of the ActivityRule to update","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityRule"}}},"required":true},"responses":{"204":{"description":"The ActivityRule has been updated"}}},"delete":{"tags":["Event processing - Activity"],"summary":"Delete an ActivityRule","description":"An ActivityRule will monitor device activity and trigger events when they become silent after certain amount a time.<br/><br/>Usage of this API will be reported in your access log under 'alarming' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"deleteActivityRule","parameters":[{"name":"activityRuleId","in":"path","description":"id of the ActivityRule to delete","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"ActivityRule has been deleted"}}}},"/api/v0/deviceMgt/campaigns/{campaignId}/cancel":{"put":{"tags":["Campaign management"],"summary":"Cancel a campaign","description":"Usage of this API will be reported in your access log under 'device_campaign' category.<br/><br/>Restricted to API keys with at least one of the following roles: CAMPAIGN_W.","operationId":"cancelCampaign","parameters":[{"name":"campaignId","in":"path","description":"identifier of a campaign","required":true,"schema":{"type":"string"}},{"name":"force","in":"query","description":"When force is false, the campaign manager prevents devices with status not started from starting, cancel devices with status pending and let devices with status in progress finish properly. When force is true, the campaign manager aborts all pending and in progress sequences immediately.","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Campaign has been canceled.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Campaign"}}}}}}},"/api/v0/decoders/csv/{decoderId}":{"get":{"tags":["Decoders - CSV"],"summary":"Retrieve a CSV decoder","description":"A data decoder allows you to decode your data message payload into a json format. When an encoding is defined in the device interface or in the data message, the decoder will be be applied and the data message will be updated accordingly. A CSV decoder handles payload with CSV format.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"getCsvDecoder","parameters":[{"name":"decoderId","in":"path","description":"id of the CSV decoder to retrieve","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"CSV decoder","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CsvPayloadDescription"}}}}}},"put":{"tags":["Decoders - CSV"],"summary":"Update a CSV decoder","description":"A data decoder allows you to decode your data message payload into a json format. When an encoding is defined in the device interface or in the data message, the decoder will be be applied and the data message will be updated accordingly. A CSV decoder handles payload with CSV format.<br/><br/>Usage of this API will be reported in your access log under 'data_decoder' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"updateCsvDecoder","parameters":[{"name":"decoderId","in":"path","description":"id of the csv decoder to update","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CsvPayloadDescription"}}},"required":true},"responses":{"200":{"description":"Csv decoder updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CsvPayloadDescription"}}}}}},"delete":{"tags":["Decoders - CSV"],"summary":"Delete a CSV decoder","description":"A data decoder allows you to decode your data message payload into a json format. When an encoding is defined in the device interface or in the data message, the decoder will be be applied and the data message will be updated accordingly. A CSV decoder handles payload with CSV format.<br/><br/>Usage of this API will be reported in your access log under 'data_decoder' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"deleteCsvDecoder","parameters":[{"name":"decoderId","in":"path","description":"id of the CSV decoder to delete","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"CSV decoder deleted"}}}},"/api/v0/decoders/csv/{decoderId}/enabled":{"put":{"tags":["Decoders - CSV"],"summary":"Activate or deactivate a CSV decoder","description":"A data decoder allows you to decode your data message payload into a json format. When an encoding is defined in the device interface or in the data message, the decoder will be be applied and the data message will be updated accordingly. A CSV decoder handles payload with CSV format. A non enabled decoder will not be applied on data messages. This allows you to temporarily disable a decoder without deleting it.<br/><br/>Usage of this API will be reported in your access log under 'data_decoder' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"activateCsvDecoder","parameters":[{"name":"decoderId","in":"path","description":"id of the CSV decoder to activate or deactivate","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"boolean","description":"true to activate, false otherwise"}}},"required":true},"responses":{"204":{"description":"Update request has been accepted."}}}},"/api/v0/decoders/binary/{decoderId}":{"get":{"tags":["Decoders - binary"],"summary":"Retrieve a binary decoder","description":"Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"getBinaryDecoder","parameters":[{"name":"decoderId","in":"path","description":"id of the binary decoder to retrieve","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"binary decoder","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BinaryPayloadDescription"}}}}}},"put":{"tags":["Decoders - binary"],"summary":"Update a binary decoder","description":"A data decoder allows you to decode your data message payload into a json format. When an encoding is defined in the device interface or in the data message, the decoder will be be applied and the data message will be updated accordingly. A binary decoder handles binary payload an uses 'Java Binary Block Parser' DSL.<br/><br/>Usage of this API will be reported in your access log under 'data_decoder' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"updateBinaryDecoder","parameters":[{"name":"decoderId","in":"path","description":"id of the binary decoder to update","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BinaryPayloadDescription"}}},"required":true},"responses":{"200":{"description":"Binary decoder updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BinaryPayloadDescription"}}}}}},"delete":{"tags":["Decoders - binary"],"summary":"Delete a binary decoder","description":"A data decoder allows you to decode your data message payload into a json format. When an encoding is defined in the device interface or in the data message, the decoder will be be applied and the data message will be updated accordingly. A binary decoder handles binary payload an uses 'Java Binary Block Parser' DSL.<br/><br/>Usage of this API will be reported in your access log under 'data_decoder' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"deleteBinaryDecoder","parameters":[{"name":"decoderId","in":"path","description":"id of the binary decoder to delete","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Binary decoder deleted"}}}},"/api/v0/decoders/binary/{decoderId}/enabled":{"put":{"tags":["Decoders - binary"],"summary":"Activate or deactivate a binary decoder","description":"A data decoder allows you to decode your data message payload into a json format. When an encoding is defined in the device interface or in the data message, the decoder will be be applied and the data message will be updated accordingly. A binary decoder handles binary payload an uses 'Java Binary Block Parser' DSL. A non enabled decoder will not be applied on data messages. This allows you to temporarily disable a decoder without deleting it.<br/><br/>Usage of this API will be reported in your access log under 'data_decoder' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"activateBinaryDecoder","parameters":[{"name":"decoderId","in":"path","description":"id of the binary decoder to activate or deactivate","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"boolean","description":"true to activate, false otherwise"}}},"required":true},"responses":{"204":{"description":"Update request has been accepted."}}}},"/api/v0/apiKeys/{apiKeyId}/debugMode":{"put":{"tags":["Api keys"],"summary":"Activate/Deactivate the debug mode on an API key","description":"Usage of this API will be reported in your access log under 'api_key' category.<br/><br/>Restricted to API keys with at least one of the following roles: API_KEY_W.","operationId":"setApiKeyDebugMode","parameters":[{"name":"apiKeyId","in":"path","description":"identifier of your API key. Expected identifier (max 24 characters)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebugModeConfiguration"}}},"required":true},"responses":{"200":{"description":"The updated ApiKey","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKey"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"ApiKey or Tenant not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}}},"/api/v1/networks/cellular/subscriptions/search":{"post":{"tags":["Beta - Cellular networks management"],"summary":"Search cellular subscriptions. BETA - please note that the API is currently in beta state, and therefore still subject to breaking changes.","description":"<p>A network subscription identified by a subscriptionId. It is linked to a SIM card\nand contains information such as:</p>\n<ul>\n    <li>The last network interaction</li>\n    <li>The attached device</li>\n    <li>The provider of the subscription</li>\n    <li>The SIM card capabilities and IDs</li>\n</ul>\n<p>If you use the \"deviceId\" search type, Live Objects will look for potential 'imei' or 'msisdn' in your device inventory based on the following fields (in order) :</p><ul><li>\"imei\" property (Cf. properties in device inventory)</li><li>\"msisdn\" property (Cf. properties in device inventory)</li><li>\"deviceId\" </li><li>\"nodeId\" of your device interfaces for SMS, LwM2M, MQTT or x-connector connectors</li></ul><br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_R.","operationId":"searchSubscriptions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchSubscriptionsRequest"}}},"required":true},"responses":{"200":{"description":"The requested subscriptions list.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubscriptionResponse"}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}}},"/api/v1/network-metrics":{"post":{"tags":["Beta - Network metrics"],"summary":"Get the network metrics regarding provided filters BETA - please note that the API is currently in beta state, and therefore still subject to breaking changes.","description":"<p>\nThis endpoint gives you statistics on exchanges between devices and Live Objects.\nIt is very useful to monitor the health of your devices' connections to Live Objects and investigate unexpected behavior.\nConnectivities available with such statistics : LwM2M.\n<br/>\nResults are aggregated per bucket (hour, day or week).\n</p>\n<p>\nProvided temporal fields (\"from\", \"to\" and \"interval\") must not lead to the generation of too many buckets :\n<ul>\n<li>If the query does not contain a sub aggregation : 1000 buckets max</li>\n<li>If the query contains a sub aggregation : 100 buckets max</li>\n</ul>\n</p>\n<br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_R.","operationId":"getNetworkMetrics","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkMetricsRequest"}}},"required":true},"responses":{"200":{"description":"Network metrics","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NetworkMetricsResult"}}}}}}}},"/api/v1/network-metrics/lostMessagesRatio":{"post":{"tags":["Beta - Network metrics"],"summary":"Get lost messages ratio regarding provided filters BETA - please note that the API is currently in beta state, and therefore still subject to breaking changes.","description":"<p>\nThis endpoint gives you lost messages ratio on exchanges between devices and Live Objects.\nNot all connectivities have such statistics.\n<br/>\nResults are aggregated per bucket (hour, day or week).\n<br/>\nBuckets having zero as ratio value are not included in the response.\n</p>\n<p>\nProvided temporal fields (\"from\", \"to\" and \"interval\") must not lead to the generation of too many buckets : 1000 buckets max.\n</p>\n<p>\nThe lost message rate for the current day is never included in the response.\n</p>\n<br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_R.","operationId":"getLostMessagesRatio","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LostMessagesRatioRequest"},"example":{"filters":{"from":"2003-09-06T20:05:00Z","to":"2003-09-07T15:12:13Z","interface":{"connector":"lwm2m","nodeId":"12345A0409001C1A"}},"timeAggregation":{"interval":"hour","timezone":"+01:00"}}}},"required":true},"responses":{"200":{"description":"Lost messages ratio","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LostMessagesRatioResult"}}}}}}}},"/api/v1/event2action/test/http-push":{"post":{"tags":["Triggers and Actions - Test"],"summary":"Post an http request for testing a webhook","description":"Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"testHttpPushV1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpPushWebhookTest"}}},"required":true},"responses":{"200":{"description":"Http push test successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpPushTestResult"}}}}}}},"/api/v1/event2action/test/fifo":{"post":{"tags":["Triggers and Actions - Test"],"summary":"Post a FIFO message for testing purposes","description":"This API aims to be used only for testing purpose. Only few calls per minute are allowed. It directly publishes a message into a FIFO, without being processed by decoders, analyzed by event processing or stored into the data storage. The message must be a JSON object (not a Json primitive or array). The test message is sent with 'no retention' : if there is no ongoing MQTT SUB on this FIFO (refer to MQTT 'application' mode in the dev guide), the message will be discarded.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"testFifoMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FifoTestRequest"}}},"required":true},"responses":{"200":{"description":"FIFO test completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FifoTestResult"}}}}}}},"/api/v1/event2action/actionPolicies":{"get":{"tags":["Triggers and Actions"],"summary":"List ActionPolicies","description":"Triggers and Actions APIs allow you to create action policies that will automatically trigger actions (webhook, push to FIFO, SMS, email, push to an Azure Event Hub server) when specific events or datamessages ('triggers') are received by the platform.<br/>These triggers and actions endpoints are related to the routing & alarming notification feature.<br/>\r\nPlease see the dedicated sections in our developer guide for more details.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"listActionPoliciesV1","parameters":[{"name":"triggerType","in":"query","description":"Filter on action policy trigger type.","required":false,"schema":{"type":"string","enum":["dataMessage","stateChange","deviceActivity","matchingFired","deviceStatus","commandStatus","deviceCreated","deviceDeleted","loraNetwork","loraGatewayStatus","connectivityManagementPlatformEvent","alarmEvent"]}}],"responses":{"200":{"description":"ActionPolicies Successfully retrieved","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActionPolicy"}}}}}}},"post":{"tags":["Triggers and Actions"],"summary":"Create an ActionPolicy","description":"Triggers and Actions APIs allow you to create action policies that will automatically trigger actions (webhook, push to FIFO, SMS, email, push to an Azure Event Hub server) when specific events or datamessages ('triggers') are received by the platform.<br/>These triggers and actions endpoints are related to the routing & alarming notification feature.<br/>\r\nPlease see the dedicated sections in our developer guide for more details.<br/><br/>Usage of this API will be reported in your access log under 'routing' category.<br/><br/>Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"createActionPolicyV1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionPolicy"},"examples":{"POST ActionPolicy":{"description":"This example will create a new action policy (action ids not provided)","value":{"name":"name-aea80c1d-5777-4e20-822c-5e6871f428e5","enabled":true,"triggers":{"deviceStatus":{"version":1,"filter":{"connectors":["mqtt"],"groupPaths":[{"path":"/lyon","includeSubPath":true}]}}},"actions":{"emails":[{"to":["notification@orange.com"],"cc":["cc@orange.com"],"cci":["cci@orange.com"],"subjectTemplate":"State change for {{stateKey}}","contentTemplate":"{{stateKey}} change from state {{previousState}} to state {{newState}} at {{timestamp}}"}],"sms":[{"destinationPhoneNumbers":["+33601234567"],"contentTemplate":"{{stateKey}} new state {{newState}} at {{timestamp}}"}]}}}}}},"required":true},"responses":{"200":{"description":"ActionPolicy created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionPolicy"}}}}}}},"/api/v1/deviceMgt/twin/model/object-definitions":{"post":{"tags":["Twin models management"],"summary":"Add a custom twin model.","description":"<p>\n  For LwM2M input, custom model objectDefinitionId must be between 10241 and 42800.\n</p>\n<p>\n  ⚠️ IDs between 10241 and 32768 belong to a public class of the LwM2M Object Registry,\n  so they should be used with care as the custom model will supersede the potential public model\n</p>\n<br/><br/>Usage of this API will be reported in your access log under 'twin' category.<br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_W.","operationId":"createCustomModel","parameters":[{"name":"inputFormat","in":"query","description":"Input format used when importing the model. The only available option for now is \"LWM2M\"","required":false,"schema":{"type":"string","default":"LWM2M"}},{"name":"override","in":"query","description":"If TRUE then the imported definition will override the existing one (if it already exists)","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"XML file content in the OMA LwM2M format"}},"required":["file"]}}}},"responses":{"201":{"description":"Custom twin model created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwinModelResponse"}}}}}}},"/api/v1/deviceMgt/twin/data/rules":{"get":{"tags":["Twin data rules management"],"summary":"List twin data rules","description":"Restricted to API keys with at least one of the following roles: DATA_PROCESSING_R.","operationId":"listTwinDataRules","responses":{"200":{"description":"List of twin data rules","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TwinDataRule"}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Read forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}},"post":{"tags":["Twin data rules management"],"summary":"Create new twin data rule","description":"Restricted to API keys with at least one of the following roles: DATA_PROCESSING_W.","operationId":"createTwinDataRule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwinDataRuleRequest"}}},"required":true},"responses":{"201":{"description":"Twin data rule created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwinDataRule"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Create forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/api/v1/deviceMgt/groups":{"get":{"tags":["Device management - Groups - V1"],"summary":"List registered device groups","description":"Managing groups of devices allows you to organize your devices in a hierarchical structure. Groups can be used to target specific subsets of devices when performing operations such as filtering triggers and actions rules, querying their data... Groups can be nested, allowing you to create a tree-like structure of groups and subgroups. <br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_R.","operationId":"listGroups","parameters":[{"name":"limit","in":"query","description":"the maximum number of items per page (optional)","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"offset","in":"query","description":"the requested page number (optional)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"parentId","in":"query","description":"filter list by group's parent. When a parent is set, only direct children are returned (one level). Expected string (max 6 characters)","required":false,"schema":{"type":"string"}},{"name":"groupPath","in":"query","description":"filter list by group's path. When a full path is set, only nodes matching exactly this path are returned.<br/> In order to return nodes matching a path and all descendants, the groupPath must end with <code>/&ast;</code> (ex. <code>/spain/&ast;</code>). <br/> In order to return direct children nodes -only- of a path, the groupPath must end with <code>/&ast;/</code> (ex. <code>/spain/&ast;/</code>). <br/>Expected string (max 255 characters)","required":false,"schema":{"type":"string"}},{"name":"X-Total-Count","in":"header","description":"true if a total count must be returned in response","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"200":{"description":"The list of groups","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Group"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}},"post":{"tags":["Device management - Groups - V1"],"summary":"Create a device group","description":"Managing groups of devices allows you to organize your devices in a hierarchical structure. Groups can be used to target specific subsets of devices when performing operations such as filtering triggers and actions rules, querying their data... Groups can be nested, allowing you to create a tree-like structure of groups and subgroups. Create a new device group. Expected string (max 6 characters)<br/><br/>Usage of this API will be reported in your access log under 'device_inventory' category.<br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_W.","operationId":"createGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupCreateRequest"}}},"required":true},"responses":{"201":{"description":"The group newly created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Group"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"404":{"description":"the server cannot or will not process the request due to something that is perceived to be a client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}},"409":{"description":"Group already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebErrorResponse"}}}}}}},"/api/v1/deviceMgt/explorer/stats":{"post":{"tags":["Inventory Explorer"],"summary":"Count and aggregate devices across the fleet.","description":"Provides aggregation and counting capabilities over the entire fleet inventory index.\nIt is intended for dashboards, analytics, and reporting where you need counts and distributions\nrather than individual device details.\n<br/><p><span style=\"text-decoration: underline;\">RSQL supported fields are</span>:</p>\n<ul>\n<li>\"name\": device name</li>\n<li>\"id\": device identifier</li>\n<li>\"group.path\": group path</li>\n<li>\"group.id\": group identifier</li>\n<li>\"tags\": tags</li>\n<li>\"properties.k\": properties key</li>\n<li>\"properties.v\": properties value</li>\n<li>\"properties\": properties (associated with =q= operator)</li>\n<ul>\n<li>Ex: properties=q='k==myKey and v==myValue'</li>\n<li>Ex: properties=q='k==\"my key\" and v==myValue'</li>\n</ul>\n<li>\"property.\": properties (associated with key value, the key must contain only alphanumeric characters and '_')</li>\n<ul>\n<li>Ex: property.myKey==myValue</li>\n</ul>\n<li>\"interfaces\": interface (associated with =q= operator)</li>\n<li>\"interfaces.connector\": interface connector type (Ex: sms, lora, mqtt)</li>\n<li>\"interfaces.nodeId\": interface node identifier</li>\n<li>\"interfaces.enabled\": interface state (true or false)</li>\n<li>\"interfaces.status\": interface status (REGISTERED,\n    INITIALIZING,\n    INITIALIZED,\n    REACTIVATED,\n    ONLINE,\n    ACTIVATED,\n    OFFLINE,\n    SLEEPING,\n    DEACTIVATED,\n    CONNECTIVITY_ERROR,\n    UNKNOWN)</li>\n<li>\"interfaces.definition.profile\": interface profile</li>\n<li>\"activities\": activities (associated with =q= operator)</li>\n<li>\"activities.ruleId\": activities rule identifier</li>\n<li>\"activities.state\": activities state (UNKNOWN, SILENT, ACTIVE)</li>\n<li>\"aggregatedActivityState\": aggregated activity state (UNKNOWN, SILENT, ACTIVE)</li>\n<li>\"network.lora.lostMessagesRangeLabel\": Bucket (0-10%, 10-20%, 20-30%, 30-100%) corresponding to the Lora lost messages ratio</li>\n</ul><br /><p><span style=\"text-decoration: underline;\">RSQL supported operators are</span>:</p>\n<ul>\n<li>\"==\": equality</li>\n<li>\"==<value>*\": equality with prefix</li>\n<ul>\n<li>Ex: tags==val* means search for all tags starting with val characters</li>\n</ul>\n<li>\"!=\": difference</li>\n<li>\"=q='<sub_request>'\": equality only for activity, interfaces, properties fields</li>\n<ul>\n<li>Ex: properties=q='k==myKey and v==myValue' equivalent to property.myKey==myValue</li>\n</ul>\n<li>\"=in=\": group of possible value (corresponding to several or operators)</li>\n<ul>\n<li>Ex: activity.state=in=(silent, active) equivalent to activity.state==silent or activity.state==active</li>\n</ul>\n<li>\"and\"</li>\n<li>\";\": identical to and operator</li>\n<li>\"or\"</li>\n<li>\",\": identical to or operator</li>\n</ul><br /><p><span style=\"text-decoration: underline;\">RSQL complex syntax using (), '', \"\" can be executed</span>:</p>\n<ul>\n<li>(tags==myTag or name==awesome*) and (group.path==/foo/* or properties=q='k==Version and v==\"my complete value\"' and interfaces.connector==lora)</li>\n<li>tags=='Aujourd'hui'</li>\n\"</ul><br /><p>The inventory service maintains an indexed version of the whole fleet.\nAs a consequence, a latency of a few seconds has to be expected before the current state of the fleet is available in the inventory index,\nthis latency can be longer especially when dealing with very large fleets.</p><br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_R.","operationId":"createStats","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatsRequest"},"examples":{"Interfaces connectors and status":{"$ref":"swagger/static/examples/dm/explorer/stats_interfaces_request.json"},"Location":{"$ref":"swagger/static/examples/dm/explorer/stats_location_request.json"},"Location and interfaces":{"$ref":"swagger/static/examples/dm/explorer/stats_location_interfaces_request.json"},"Properties":{"$ref":"swagger/static/examples/dm/explorer/stats_nested_filter_properties_request.json"},"Lora lost messages":{"$ref":"swagger/static/examples/dm/explorer/stats_lora_lost_messages_range_request.json"}}}},"required":true},"responses":{"200":{"description":"Stats response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatsResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Request forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/api/v1/deviceMgt/explorer/search":{"post":{"tags":["Inventory Explorer"],"summary":"Search devices in the inventory index.","description":"Enables querying and retrieving detailed device information from the entire fleet inventory index\nwith flexible filtering capabilities. Unlike standard device management APIs, this endpoint queries an enriched,\nindexed representation of devices, optimized for complex search operations and list views.\n<br/><p><span style=\"text-decoration: underline;\">RSQL supported fields are</span>:</p>\n<ul>\n<li>\"name\": device name</li>\n<li>\"id\": device identifier</li>\n<li>\"group.path\": group path</li>\n<li>\"group.id\": group identifier</li>\n<li>\"tags\": tags</li>\n<li>\"properties.k\": properties key</li>\n<li>\"properties.v\": properties value</li>\n<li>\"properties\": properties (associated with =q= operator)</li>\n<ul>\n<li>Ex: properties=q='k==myKey and v==myValue'</li>\n<li>Ex: properties=q='k==\"my key\" and v==myValue'</li>\n</ul>\n<li>\"property.\": properties (associated with key value, the key must contain only alphanumeric characters and '_')</li>\n<ul>\n<li>Ex: property.myKey==myValue</li>\n</ul>\n<li>\"interfaces\": interface (associated with =q= operator)</li>\n<li>\"interfaces.connector\": interface connector type (Ex: sms, lora, mqtt)</li>\n<li>\"interfaces.nodeId\": interface node identifier</li>\n<li>\"interfaces.enabled\": interface state (true or false)</li>\n<li>\"interfaces.status\": interface status (REGISTERED,\n    INITIALIZING,\n    INITIALIZED,\n    REACTIVATED,\n    ONLINE,\n    ACTIVATED,\n    OFFLINE,\n    SLEEPING,\n    DEACTIVATED,\n    CONNECTIVITY_ERROR,\n    UNKNOWN)</li>\n<li>\"interfaces.definition.profile\": interface profile</li>\n<li>\"activities\": activities (associated with =q= operator)</li>\n<li>\"activities.ruleId\": activities rule identifier</li>\n<li>\"activities.state\": activities state (UNKNOWN, SILENT, ACTIVE)</li>\n<li>\"aggregatedActivityState\": aggregated activity state (UNKNOWN, SILENT, ACTIVE)</li>\n<li>\"network.lora.lostMessagesRangeLabel\": Bucket (0-10%, 10-20%, 20-30%, 30-100%) corresponding to the Lora lost messages ratio</li>\n</ul><br /><p><span style=\"text-decoration: underline;\">RSQL supported operators are</span>:</p>\n<ul>\n<li>\"==\": equality</li>\n<li>\"==<value>*\": equality with prefix</li>\n<ul>\n<li>Ex: tags==val* means search for all tags starting with val characters</li>\n</ul>\n<li>\"!=\": difference</li>\n<li>\"=q='<sub_request>'\": equality only for activity, interfaces, properties fields</li>\n<ul>\n<li>Ex: properties=q='k==myKey and v==myValue' equivalent to property.myKey==myValue</li>\n</ul>\n<li>\"=in=\": group of possible value (corresponding to several or operators)</li>\n<ul>\n<li>Ex: activity.state=in=(silent, active) equivalent to activity.state==silent or activity.state==active</li>\n</ul>\n<li>\"and\"</li>\n<li>\";\": identical to and operator</li>\n<li>\"or\"</li>\n<li>\",\": identical to or operator</li>\n</ul><br /><p><span style=\"text-decoration: underline;\">RSQL complex syntax using (), '', \"\" can be executed</span>:</p>\n<ul>\n<li>(tags==myTag or name==awesome*) and (group.path==/foo/* or properties=q='k==Version and v==\"my complete value\"' and interfaces.connector==lora)</li>\n<li>tags=='Aujourd'hui'</li>\n\"</ul><br /><p>The inventory service maintains an indexed version of the whole fleet.\nAs a consequence, a latency of a few seconds has to be expected before the current state of the fleet is available in the inventory index,\nthis latency can be longer especially when dealing with very large fleets.</p><br/><br/>Restricted to API keys with at least one of the following roles: DEVICE_R.","operationId":"createSearch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/componen
[...]
